/* CSS Document */

.pgf_mid_home { width:973px; margin:0px auto; background:url(../../../skin/_pub/a_img/box1_h.png) repeat-y 600px 0; border:1px solid #3A6EA5; border-radius:3px; }

table.home-tabadv { width:1200px; background:#F4F4F4; margin:0px auto 10px auto; }
table.home-tabadv td { text-align:center; border:1px solid #CCC; }
table.home-tabadv td.side a { width:180px; display:block; padding:3px 10px; }
table.home-tabadv td.head a { display:inline-block; padding:3px 10px; }
table.home-tabadv td.foot a { display:inline-block; padding:3px 10px; }
table.home-tabadv td.cpic { padding:1px; background:#FFF; }
table.home-tabnews td.pic { padding:0px; }
table.home-tabnews td.pic li{ }
table.home-tabnews td.pic p{ background:#DDD; padding:5px 1px; margin:0px 10px; }

table.home-tabnews { width:1200px; margin:0px auto 10px auto; }
table.home-tabnews td { padding:10px; border:1px solid #CCC; }
table.home-tabnews td.bar { width:100px; padding:0px; }
table.home-tabnews td.bar p { padding:5px 1px; text-align:center; cursor:pointer; background:#FFF; border-bottom:1px dashed #CCC; }
table.home-tabnews td.bar p.act, table.home-tabnews td.bar p:hover { color:#F00; background:#EEE; }
table.home-tabnews td.hot { padding:10px 10px 1px 10px; }
table.home-tabnews td.hot .top1, table.home-tabnews td.hot .top2, table.home-tabnews td.hot .top3 { text-align:center; font-size:large; }
table.home-tabnews td.hot .note1, table.home-tabnews td.hot .note2, table.home-tabnews td.hot .note3 { color:#666; font-size:small; }
table.home-tabnews td.hot .line { line-height:1px; border-bottom:1px dashed #CCC; margin:3px 0px 10px 0px; }
table.home-tabnews td.hot dd { padding:1px 1px 5px 1px; }
table.home-tabnews td.hot i { font-style:normal; color:#666; }
table.home-tabnews td.pic { width:420px; text-align:center; }
table.home-tabnews td.pic .title { padding:10px 1px 1px 1px; }
table.home-tabnews td.adv { width:180px; text-align:center; background:#EEE; padding:0px 0px 10px 0px; }
table.home-tabnews td.adv p { line-height: 180%; }

table.home-tabpro { width:1200px; margin:0px auto 10px auto; }
table.home-tabpro td { padding:10px; border:1px solid #CCC; }
table.home-tabpro i, table.home-tabpro b { font-style:normal; display:inline-block; padding:0px 10px; }
table.home-tabpro td.bar1 { cursor:pointer; background:#EEE; }
table.home-tabpro td.bar1 i.act, table.home-tabpro td.bar1 i:hover { color:#F00; background:#FFF; }
table.home-tabpro td.bar2 { width:300px; background:#EEE; }
table.home-tabpro td.bar2 i.act, table.home-tabpro td.bar2 i:hover { color:#F00; background:#FFF; }
table.home-tabpro td.pro { padding:10px 0px 0px 12px; }
table.home-tabpro td.pro dl { width:211px; height:190px; display:inline-block; float:left; padding:0px; margin:0px 10px 10px 0px; border:1px dashed #CCC; }
table.home-tabpro td.pro dl.right { margin:0px 0px 10px 0px; }
table.home-tabpro td.pro dl:hover { border:1px solid #66F; }
table.home-tabpro td.pro dt { text-align:center; }
table.home-tabpro td.pro img { padding:2px; }
table.home-tabpro td.pro b { padding:0px; }
table.home-tabpro td.ord p { line-height:150%; border-bottom:1px dashed #CCC; margin-bottom:3px; }
table.home-tabpro td.ord .title { text-align:center; padding:5px; margin:15px 0px 10px 0px; background:#EEE; border:1px solid #CCC; }
table.home-tabpro td.ord b { display:block; padding:0px 0px 5px 20px; font-weight:normal; }

table.home-keres { width:1200px; margin:0px auto 10px auto; }
table.home-keres td { padding:10px; border:1px solid #CCC; }
table.home-keres i, table.home-keres b { font-style:normal; display:inline-block; padding:0px 10px; }
table.home-keres td.bar1 { cursor:pointer; background:#EEE; }
table.home-keres td.bar1 i.act, table.home-keres td.bar1 i:hover { color:#F00; background:#FFF; }
table.home-keres td.bar2 { width:300px; background:#EEE; }
table.home-keres td.bar2 i.act, table.home-keres td.bar2 i:hover { color:#F00; background:#FFF; }
table.home-keres td.keres { padding:10px 0px 0px 12px; }
table.home-keres td.keres dl { width:431px; height:160px; display:block; float:left; padding:0px; margin:0px 10px 0px 0px; border:1px dashed #CCC; }
table.home-keres td.keres dl.right { margin:0px 0px 10px 0px; }
table.home-keres td.keres dl:hover { border:1px solid #66F; }
table.home-keres td.keres dt { text-align:center; padding:5px 0px; margin:0px 0px; border-bottom:1px dashed #D8D8D8; }
table.home-keres td.keres p.img { width:170px; height:120px; display:inline-block; text-align:center; float:left; padding:2px; }
table.home-keres td.keres p.detail { width:245px; height:120px; display:inline-block; float:rigth; padding:2px; margin:2px 0px 1px 10px; }
table.home-keres td.keres b { padding:0px; }
table.home-keres td.keres dd { }
table.home-keres td.topic { padding:10px 1px 5px 10px; }
table.home-keres td.topic p { line-height:140%; padding:4px 1px; margin:1px 0px 1px 0px; border-bottom:1px dotted #CCC; }
table.home-keres td.topic i { padding:0px 0px 0px 5px; }

table.home-adv0 { width:1200px; margin:0px auto 10px auto; }
table.home-links { width:1200px; margin:0px auto 10px auto; border:1px solid #CCC; }
table.home-links td { width:10%; text-align:center; background:#EEE; padding:3px 0px; border:1px dotted #CCC; }

.home-adpic02 {
    width: 400px; height:320px;
    padding: 0px 0px;
    margin: 0px;
}

.pg_bar { width:100%; margin:auto; }
