/* CSS Document */

i, b { font-style: normal; font-weight:normal; }
.ocar-tbar { width: 900px; background:#EEE; padding:5px 10px; margin:5px 0px 10px 2px; border:1px solid #CCC; }

.ocar_items { width: 900px; padding:5px 10px; margin:10px 0px 10px 2px; border:1px solid #CCC; }
.ocar_items td,.ocar_items th { padding:3px 5px; line-height:120%; }
.ocar_items th { background:#EEE; }
.ocar_items td.toinvoce { padding:3px 10px; }

.ocar_invoce { width:720px; margin:10px auto 10px auto; }
.ocar_invoce .tbar { background:#EEE; padding:5px 10px; margin:5px 0px 10px 2px; border:1px solid #CCC; }
.ocar_invoce table { width:100%; margin:10px auto 10px auto; }

.pgu_logo{ width:720px; border:1px solid #CCC; padding:2px; margin:10px auto; font-size:14px; }

.pgu_logo .logo{ width:120px; height:60px; padding:5px; float:right; background-image:url(../../a_img/logo120x60.jpg); background-position:center; background-repeat:no-repeat; }
.pgu_logo .title{ width:450px; height:60px; padding:5px; float:left; }
.pgu_logo h3{ font-size:18px; text-align:center; color:#333; padding:1px; margin:1px;}
.pgu_logo h1{ font-size:14px; color:#09C; padding:0px 5px; margin:1px;}

.info-indep { width: 447px; height: 190px; overflow-y:scroll; line-height: 100%; float: left; border: 1px solid #999; padding: 10px; margin: 0px 10px 10px 0px; }
.info-indep .type { font-weight: bold; font-style: normal; text-align: center; display: block; padding: 0px 0px 5px 0px; margin: 0px 0px 5px 0px; border-bottom: 1px solid #CCC; }
.info-indep .title { font-style: normal; display: block; padding: 3px 0px 3px 0px; }
.info-indep i.atime, .info-indep i.click { display: inline-block; padding: 0px 2px; }

.info-indep li { padding:3px; }
.info-indep li i { font-style:normal; color:#666; }
