/* CSS Document */

*{ word-wrap:break-word; outline:none; }
body{ background:#FFF; border:0px; padding:0px; margin:0px; }
body, td, input, textarea, select, button{ color:#333; line-height:150%; font:12px "Lucida Grande", Verdana, Lucida, Helvetica, Arial, 'Simsun', sans-serif; }
ul, li, dl, dd, p, h1, h2, h3, h4, h5, h6, hr, form, fieldset { line-height:150%; margin:0; padding:0; }
li{ list-style:none; }
.mobbody, .pcbody{ line-height:180%; padding:2px 3px;overflow-y:scroll; }
.pcbody{ overflow-x:hidden; }

a img{ border:none; }
table{ border-collapse:collapse;}
label, .pointer, .label { cursor:pointer; }
label.click { text-decoration:underline; }
span label, div label, td label { font-weight:normal; }

a{ color:#134D9D; text-decoration:none; cursor:pointer; }
a:hover { text-decoration:underline; cursor:pointer; }
a.cur { color:#C00; }

/* form */
textarea, input, select{ padding:2px; border:1px solid; border-color:#666 #ccc #ccc #666; background:#F9F9F9; color:#333; }
option{ font-family:"Courier New", Courier, monospace; }
.txt, select, .vmiddle { vertical-align:middle; }
select { height:22px; overflow:hidden; padding:2px; margin:2px 0px; }
.txt:hover, .txt:focus, textarea:hover, textarea:focus{ border-color:#09C; background:#F5F9FD; }
.hover:hover { background:#05F9FD; }

.hover:hover .addchildboard, .hover:hover .deleterow { color: #F5F9FD; cursor:pointer; }
.txtnobd{ border:1px solid #FFF; background:#FFF; cursor:pointer; }
input.rdcb{ border:0px solid; vertical-align:middle; margin-right:5px; padding:0px 0px 0px 0px; margin:0px 0px 0px 0px; }
label { margin:0px 5px 0px 1px; display:inline-block; }
label.ph0 { margin:0px; }
input.file{ width:420px; }
input.disc{ background-color:#ccc; }
input.disf{ color:#fff; background-color:#CCC; }
.btn{ margin:3px 0; padding:1px 3px; border-color:#ddd #666 #666 #ddd; background:#DDD; color:#000; cursor:pointer; vertical-align:middle; }
.btn:hover { text-decoration: none; }
.line { border-bottom: 1px solid #0F0; }

/* table */
.tblist td, .tblist th, .tbdata td, .tbdata th{ word-wrap:normal;word-break:keep-all;white-space:nowrap; }
table.tbdata td{ border-color:#A6CAF0;  }
table.tbdata tr td:hover{ border-color:#3A6EA5; background:#DFF; }
table.tblist td{ border-color:#A6CAF0; }
table.tblist tr:hover{ background:#DFF; }
th{ font-size:13px; font-weight:bold; }
table.tbdata th, table.tblist th{ text-align:center; color:#333; background:#A6CAE0; background-image:url(./views/base/assets/aimg/nv_01.png); background-position:0px -250px; border-color:#CCC; padding:5px 0; border-bottom:1px solid #808080; }
table.tbdata, table.tblist{ width:100%; border-color:#A6CAF0; margin:0px auto; }
table.tbbar1{ width:100%; border-color:#A6CAF0; margin:0px auto; }
table.tbdata td, table.tblist td, table.tbbar1 td{ line-height:180%; padding:3px; }

/* title */
h3{ margin-bottom:10px; font-size:14px; color:#09C; }
.spectitle{ border-bottom:1px dashed #F66; }
p.err{ font-size:18px; padding:10px; }

#adf_title,#adf_nav1 { height:26px; font-size:14px; }
#adf_title { width:180px; float:left; text-align:center; padding:6px 0 0 0; }
#adf_nav1 { 
    min-width:480px; height:35px;
    background: #DDD; 
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #DDD), color-stop(1, #FFF));
    background: -ms-linear-gradient(bottom, #DDD, #FFF);
    background: -moz-linear-gradient(center bottom, #DDD 0%, #FFF 100%);
    background: -o-linear-gradient(bottom, #DDD, #FFF);
    padding: 1px; margin: 0px auto; border-bottom: 3px solid #999;
}
#adf_nav1>i:first-of-type{ display:none; }
#adf_nav1 .toplogo { width:36px; height:36px; position:absolute;top:-5px; left:0px; padding:1px 0 0 2px; }
#adf_nav1>a { display:inline-block; padding:5px 6px 5px 6px; }
#adf_nav1>a:hover { color:#F00; background:#FFF; border-radius:5px; }
#adf_nav1 p a { border-right:0px; border-left:1px solid #999; }
#adf_nav1>ul>li>a{ width:100%; height:180%; display:inline-block; }
#adf_nav1 .btn { font-size:larger; padding:1px 10px; }
#adf_left { width:180px; font-size:14px; float:left; border-right:3px solid #999999; overflow-x:hidden; overflow-y:scroll;  }
#adf_right { min-width:480px; margin:0px 0px 0px 182px; padding:0px 0px 0px 0px; }
#adf_copy { text-align:center; font-size:12px; padding:5px 1px 0px 1px; margin:5px 5px 10px 5px; }
#adf_logo { text-align:center; padding:5px; list-style:none; }

#adi_links{ position:relative; display:inline-block; float:right; margin:1px;  }
#adi_links>i{ display:inline-block; padding:9px; border:1px solid #DDD; border-radius:2px; border-top-left-radius:5px; }
#adi_links p{ position:absolute; top:32px; right:0px; display:inline-block; padding:5px 10px;
  background:#FFF; border:1px solid #DDD; border-radius:5px 0 0 5px; }
#adi_links p a{ display:block; white-space:nowrap; padding:5px 5px; border-bottom:1px dotted #CCC; }
#adi_navbc{ margin-bottom:5px; }
#adi_navbc i, #adi_navbc b{ font-weight:normal; font-style:normal; }
#adh_links div.col-xs-6{ max-height:24px; overflow:hidden; }

ul.adf_mnu2 { padding:3px auto 0px auto; margin:0px auto 10px auto; }

ul.adf_mnu2 li.adf_dir, ul.adf_mnu2 li.adf_dir:hover { 
    height:30px; position:relative; cursor:pointer;
    color:#333; font-weight:bold; padding:4px 3px 3px 25px; 
    border-bottom:1px solid #999; background-color: #f5f5f5; border-color: #ddd;
}
ul.adf_mnu2 li.adf_dir:hover { color:#339; }
ul.adf_mnu2 li { line-height:150%; white-space:nowrap; padding:5px 3px 5px 10px; border-bottom:1px solid #DDD; }
ul.adf_mnu2 li:hover{ color:#F00; background:#EEE; }
ul.adf_mnu2 li a:hover{ color:#F00; }

.mpic_out .pview { width:124px; height:90px; float:left; text-align:center; position: relative; padding:0px; margin:1px 5px 1px 1px; border:1px solid #CCC; }
.mpic_out .pitem { width:124px; height:120px; float:left; text-align:center; position: relative; padding:0px; margin:1px 5px 1px 1px; border:1px solid #CCC; }
.mpic_out .close { width:25px; height:16px; font-size:14px; font-style:normal; position: absolute; padding:1px 3px; word-wrap:normal; bottom:5px; right:5px; border:1px solid #CCC; }
.mpic_out div { width:100%; }
.mpic_out select { width:100%; }
.mpic_out i.seltype select { width:120px; }
/*图集*/
.mpic_out{ word-wrap:break-word;word-break:break-all;white-space:normal; }

.uh-space { width:100%; margin-bottom:5px; border:0px solid #CCC; }
.uh-space td { text-align:center; border:1px dashed #CCC; white-space:nowrap; }
.uh-sys{}
.panel-body { line-height:200%; }

.idShow {
  width:380px; height:250px;
  text-align:center;
  overflow:hidden;
  line-height:150%;
  position:absolute;
  padding:5px;
  background-color:#FFF;
  border:5px solid #999;
}

.idHidden {
  width:4px; height:0px; overflow:hidden;
  position:absolute;
  padding:0px;
  background-color:#FFF;
  border:1px solid #CCC;
}


.login-outer{ width:750px; position:relative; margin:5px auto; }
.login-head { position:relative; }
.login-head .logo{ position:absolute; left:10px; top:-10px; width:120px; height:60px; border:3px solid #FFF; border-radius:5px; }
.login-head select{ position:absolute; right:10px; top:10px; width:120px; }
.login-head p{ text-align:center; padding:10px; margin:0px 130px 0px 130px; border:1px dashed #A6CAF0; border-radius:5px; background-clip:padding-box; }
.login-head h3{ padding:5px 0px 1px 0px; }
form.login { width:360px; float:left; }
form.login i{ font-style:normal; text-align:right; word-break:normal; white-space:nowrap; }
form.login p{ padding:1px; margin:5px 1px; }
form div.topmsg{ padding:10px; margin:0px 0px 15px 0px; }
.login-read { width:340px; float:right; padding:0px 0px 0px 0px; margin:0px 0px 0px 0px; }
.login-read ul{ padding:0px 0px 10px 0px;}
.login-read ul li{ 
    list-style-type: disc;
    list-style-position: inside;
    font-weight: normal;
}
.login-read li{ padding:1px; margin:5px; }
.login-fbar{ text-align:center; background:#FFF; border-top:1px solid #428bca; }

@media only screen and (max-width:767px) {
    .login-outer{ width:96%; margin:5px auto; }
    .login-head { height:60px; }
    .login-head .logo{ position:absolute; left:10px; top:-10px; width:120px; height:60px; border:3px solid #FFF; border-radius:5px; }
    .login-head select{ float:right; position:static; width:120px; }
    .login-head p{ position:absolute; background:#A6CAF0; color:#333; padding:10px 0px 10px 0px; margin:65px 0 10px 0; border:0; background-clip:padding-box; }
    form.login { width:100%; float:none; padding-top:38px;  }
    form div.topmsg{ }
    .login-read { width:100%; font-size:small; float:none; }
}

.btn, input.btn { background-clip: padding-box; padding:5px 3px; margin:auto 3px; }
.mframe{ width:100%; overflow-y:scroll; overflow-x:hidden; }
.pg_bar .pagination{ margin: 2px 0; }
.pg_bar a.form-control{ display:inline-block; }
.pg_bar .pagination>li>input{ height:31px; font-size:12px; }
.fs_vimg{ display:block; }
/* #locSetS { background-clip:padding-box; } select*/

.flgOpbar .form-control{ display:inline-block; }
