<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>404错误页面-卓科电子</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<link href="<?=tpath('comm')?>/css/error404.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">setTimeout(function(){top.location='{surl(0)}';},5000)</script>

</head>
<body>
	<div class="error404">
		<div class="info">
			<h1>404</h1>
			<h2>抱歉，您访问的页面不存在！ (｡•ˇ‸ˇ•｡)</h2>
			<p class="p1">5秒钟后将带您返回首页</p>
			<!--<p>The page you are looking for was moved, removed, renamed or might never existed.</p>-->
			<div class="menu">
				<a href="{surl(0)}">首 页</a> | 
				<a href="{surl(about-zoko)}">关于我们</a> | 
				<a href="{surl(pro)}">产品中心</a> | 
				<a href="{surl(case)}">工程案例</a> | 
				<a href="{surl(news)}">新闻中心</a> | 
				<a href="{surl(hi)}">联系我们</a>
			</div>
			<a href="{surl(0)}" class="btn">返回首页</a>
			<a href="#" class="btn btn-brown">返回上一步</a>
		</div>
		<div class="pic">
			<img src="<?=tpath()?>/images/logo.jpg" alt=" " />
		</div>
	</div>

</body>
</html>