
<article class="">
<div class="list2">
    <div class="shead">
        <span class="r">{=$uinfo['uname']}</span>
        <div class="">{=$modname}信息</div>
    </div>
    <div class="row">
        <div class="col5 main">
            <p><b href="#">{=$uinfo['mname']}</b></p>
            <p class="note">地址：{=$uimod['maddr']}</p>
            <p class="note">{=$uimod['mtel']} / {=$uimod['memail']}</p>
        </div>
        <div class="col2 more">
            <span class="tag">{=$uimod['uid']}</span>
        </div>
    </div>
</div>
</article>
