
<article class="">
<div class="list2">
    <div class="shead">
        <a href='{surl("equip-$cscorp[csno]")}' class="r">设备&gt;</a>
        <div class="">{=$modname}信息</div>
    </div>
    <div class="row">
        <div class="col5 main">
            <p>
                <span class="r">{=$cscorp['csno']}</span>
                <b href="#">{=$cscorp['title']}</b>
            </p>
            <p class="note">地址：{=$cscorp['maddr']}</p>
            <p class="note">{=$cscorp['mname']}：{=$cscorp['mtel']}</p>
            <p class="note">
                <span class="r">{=$uinfo['uname']}</span>
                业务员：{=$cscorp['author']}
            </p>
        </div>
        <!--div class="col2 more">
            <span class="tag"></span>
        </div-->
    </div>
</div>
</article>
