
<div id='dlog3' style="opacity:1;display:none">
    <div class="mask"></div>
    <div class="dialog">
        <i class="fa fa-close close" onclick="opDialog(this)"></i>
        <div class="shead">搜索设置</div>
        <div class="bd">

            <div class="cont" id='cont_idpwd'>
                <form class="list1">
                  <div class="row">
                    <div class="col1">
                        <select class="so-select" name="catid" id='catid' required><!--weui-select-->
                            <option value="">-工单类型-</option>
                            {tag:tp=[Type,u][modid,cstask][idfix,top]}
                            <option value="{=$t_kid}" {if @$catid==$t_kid}selected{/if}>{title($t_title,32,$u)}</option>
                            {/tag:tp}
                        </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col1">
                        <select class="so-select" name="mflag" id='mflag' required><!--weui-select-->
                            <option value="">-状态-</option>
                            {if $this->key=='history'}
                            <option value="done" {if $mflag=='done'}selected{/if}>待评分</option>
                            <option value="close" {if $mflag=='close'}selected{/if}>已关闭</option>
                            {else}
                            <?php foreach($tabMflag as $k=>$v){ ?>
                            <option value="{=$k}" {if $mflag==$k}selected{/if}>{=$v}</option>
                            <?php } ?>
                            {/if}
                        </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col1">
                      <input class="weui-input so-input" name="keywd" id='keywd' value="{=$keywd}" placeholder="关键字">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col1"></div>
                    <div class="col2">
                      <button type="button" class="btn btn-act">返回</button>
                    </div>
                    <div class="col2">
                      <button type="button" class="btn btn-act">搜索</button>
                    </div>
                    <div class="col1"></div>
                  </div>
                </form>
            </div>
        </div>
    </div>
</div>
