
<div class="row">
    <div class="col6 main">
        <p>
            <a href='{surl("task.$t_did")}'>{=$t_title}</a>
        </p>
        <p class="note">
            单号:{=$t_did} ● {sopt($t_mflag,cstask.mflag)}
        </p>
    </div>
    <div class="col2 more">
        <span class="time">
            {if (!empty($uname) && $t_douid==$uname)}
            (我)
            {else}
            {if (!empty($t_douidStr))}{=$t_douidStr}{else}{=$t_douid}{/if}
            {/if}
        </span> 
        <span class="tag">{stime($t_atime,m-d H:i)}</span>
    </div>
</div>
