<!DOCTYPE html><html><head>
{php}
$this->pmeta();
eimp('initJs','jspop,jquery;bootstrap;comm;/base/assets/cssjs/sordbar');
eimp('initCss','bootstrap,stpub;comm');

$caidn = req('stype'); $caidn = empty($this->key) ? $caidn : $this->key; // 当前栏目
$caitms = read('cargo.i'); // 栏目数组
$calays = comTypes::getLarr($caitms, $caidn); // 当前栏目树
$cakeys = array_keys($calays); //dump($cakeys); // 数组ID

$brand = req('brand');
$brands = read('brand.i'); 
$brels = glbConfig::relids('relpb', $caidn?$caidn:'-'); //dump($brels); // 关联品牌id

$urltm = vopUrl::f1st('cargo'); //dump($urltm);
$burl = surl(0); //dump($burl);
// $ccfg = glbConfig::read('about','_c'); dump($ccfg);
{/php} 
<script src="{=PATH_BASE}?ajax-comjs&act=jsTypes:hinfo;" uatt='cargo,;jsFields:cargo'></script> 
</head><body>
{inc:"c_pub/ahead"}
{inc:"c_pub/amenu"}

<div class="row">
  <div class="col-md-12">
    <!--main_start-->
    <div class="sobar" id="sobar">
      <p><b>栏目</b> 
        <span id="s1lay">
          <?php foreach($caitms as $cak=>$cav){ if(!$cav['pid']){ ?>
            <a href="<?=str_replace('(key)',$cak,$urltm)?>" {if isset($calays[$cak])}class="act"{/if}>{=$cav['title']}</a>
          <?php } } ?>
        </span>
        {if isset($cakeys[0])}
        <span id="s2lay">
          <b class="casub">- L2</b> 
          <?php foreach($caitms as $cak=>$cav){ if($cakeys[0]==$cav['pid']){ ?>
            <a href="<?=str_replace('(key)',$cak,$urltm)?>" {if isset($calays[$cak])}class="act"{/if}>{=$cav['title']}</a>
          <?php } } ?>
        </span>
        {/if}
        {if isset($cakeys[1])}
        <span id="s3lay">
          <b class="casub">- L3</b> 
          <?php foreach($caitms as $cak=>$cav){ if($cakeys[1]==$cav['pid']){ ?>
            <a href="<?=str_replace('(key)',$cak,$urltm)?>" {if isset($calays[$cak])}class="act"{/if}>{=$cav['title']}</a>
          <?php } } ?>
        </span>
        {/if}
      </p>
      <p><b>价格</b> <span id="soprice"></span></p>
      {if !empty($brels) && count($brels)>1}
      <p><b>品牌</b> <span id="sobrand">
          <?php foreach($brands as $brk=>$brv){ if(in_array($brk,$brels)){ ?>
            <a href="<?=basReq::getURep(0,'brand',$brk)?>" {if $brand==$brk}class="act"{/if}>{=$brv['title']}</a>
          <?php } } ?>
          <a href="<?=basReq::getURep(0,'brand','')?>" {if !$brand}class="act"{/if}>[全部]</a>
      </span></p>
      {/if}
      <p><b>推荐</b> <span id="sohinfo"></span></p>
      <!--`属性搜索,待优化`-->
    </div>
    <div class="sobar soline"> 
      <p class="order">
       <i id="so_def"></i>
       <i id="so_click"></i>
       <i id="so_salse"></i>
      </p>
      <p class="sokeys" id="sokeys">
      找到 <i class="js_allrec">(0)</i> 条纪录　<a href="{surl(cargo)}" class="soclear" id="soclear">清除条件</a>
      </p>
    </div>
    <div class="h10">&nbsp;</div>
    <!--list_start-->
    <div class="row pro-table">
      {tag:dlist=[Page][modid,$this->mod][stype][brand][hinfo][keywd][where,tex('texCargo')->expwhr()][order,0,click+price][limit,12]}
      {:row}
      <div class="col-md-3 pitm">
        <p class="tc picbox uimark-pos-rel">
        <img src="{spic($t_mpic,demo_nop300x200.jpg)}" width='240' height='180' class="img-thumbnail" onload='imgShow(this,240,180)' />
        {if !empty($t_hinfo)}<b class="uimark-star-icon1b"></b>{/if}</p>
        <p class="detail"><i class="price">&yen;{=$t_price}元</i><i class="click">浏览{=$t_click}次</i>
        </p>
        <p class="title"><a href="{surl($this->mod.".$t_did")}">{title($t_title,96,$v)}</a></p>
      </div> 
      {/row}
        <div colspan="{=$col}" class="clear pa5">
        {php echo $_cbase['page']['bar']; }
        </div>
      {/tag:dlist}
    </div>  
    <!--list_end-->

    <!--main_end-->
  </div>
</div>

{inc:"c_pub/afoot"}
</body></html>

<script>

var s, linktpl="<a href='(url)' class='(act)'>(title)</a>", _cargo_data={};
sordb_init('{=$this->mod}','{=$this->key}',0,'stype:brand,exp_*',linktpl);
var atype = sordb_cfgs.slay.split(','), amtype = atype.length>=0 ? atype[0] : '(null)'; 

//s = sordb_relat(0,'brand-relpb-'+atype[atype.length-1],'act'); sordb_setLinks('sobrand',s);
s = sordb_area(0,'price:10,100,200,300,500,800,1000:元','act'); $('#soprice').html(s);
s = sordb_extype(0,'hinfo-0','act'); $('#sohinfo').html(s);
sordb_fexts('sobar',0,'act');

s = sordb_ordby(0,'默认','','def-act,def,(def)'); $('#so_def').html(s);
s = sordb_ordby(0,'点击','click','oasc,odesc,ondesc,'); $('#so_click').html(s);
s = sordb_ordby(0,'价格','price','oasc,odesc,onasc,1'); $('#so_salse').html(s); 

$('.js_allrec').html($('.pg_total').text());
sordb_hideClear('soclear');

if($('#s3lay a').length==0){ $('#s3lay').hide(); }

</script>
