
<div class="panel panel-default hidden-xs">
  <div class="panel-heading">搜索...</div>
  <div class="panel-body soform">

    <form method="get" action="{surl(0:0)}">
    <input name="mkv" type="hidden" value="{=$this->mod}--list">
    <?=fldEdit::layTypes('cargo', 'stype', 0);?>
    <div class="pt10">
        <input name="keywd" type="text" id="keywd" class="form-control wp60 inblock" />
        <input type="submit" id="sobtn" value="搜索" class="form-control wp30 inblock" />
    </div>
    </form>

  </div>
</div>

<script>
layInit('cargo','stype');
$('#fm_stype_').attr("name","stype");
$('.soform').find('select').addClass('form-control');
</script>
