
body{ background:#FFF; border:0px; padding:0px; margin:0px; }
body, td, input, textarea, select, button{ color:#333; line-height:150%; font:normal "Lucida Grande", Verdana, Lucida, Helvetica, Arial, 'Simsun', sans-serif; }
ul, li, dl, dd, p, h1, h2, h3, h4, h5, h6, hr, form, fieldset { line-height:150%; margin:0; padding:0; }
li{ list-style:none; }

a { color: #134D9D; text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; cursor: pointer; }
a.cur { color: #C00; }
/* title */


.pgf_w { width:980px; margin: 0px auto; }
header{ padding:10px; }
header p{ display:inline-block; }

.pgf_menu { width:978px; height:35px; text-align:center; padding:0px 10px; margin: 0px auto; border: 1px solid #3A6EA5; border-radius: 3px; margin-bottom: 10px; background-image: url(../../../skin/_pub/a_img/nv_02.png); background-position: 0px 1px; }
.pgf_menu li{ display:inline-block; margin:5px 8px; }

.pgf_footer { width: 976px; margin:20px auto; padding:20px 0px; clear: both; text-align: center; background-image: url(../../../skin/_pub/a_img/dg.gd.png); background-position: 0px -140px; }
.pgf_blink { padding: 10px 0px 5px 0px; }
.pgf_blink a { display: inline-block; padding: 0px 5px; }
.pgf_blink a.act { text-decoration: underline; color: #F0F; }
.pgf_footer p.note, .pgf_footer p.copy, .pgf_footer p.info { font-size:small; color:#666; }
.pgf_footer p.note { color:#963; }


.news-list { width:100%; }
.news-list dt, .news-list dd { height:30px; border-bottom:1px dashed #F0F0F0; margin-bottom:5px; }
.news-list dt { width: 65%; float: left; font-weight:normal; } 
.news-list dd { width: 34%; float: right; text-align:right; }
.news-list dd i, .news-list dd b { font-style: normal; display: inline-block; padding: 0px 3px 0px 3px; }
.news-list dd i.click { width: 18%; text-align:left; white-space:nowrap; }
.news-list dd i.atime { white-space:nowrap; }
.news-list dd i.atype { white-space:nowrap; }
.news-list dd i.price { width: 18%; text-align:left; white-space:nowrap; }

.news-tbar { background:#EEE; padding:5px 10px; margin:5px 0px 20px 0px; border:1px solid #CCC; }
.news-tbar i { font-style: normal; }
.news-tbar i.title { }
.news-tbar i a { display: inline-block; padding: 0px 5px; }

.news_text, td.news_text, td.news_text p, div.news_text, div.news_text p { font-size:14px; line-height:150%; padding:10px; }
h1.news_title { text-align: center; font-family: "Microsoft YaHei", "黑体"; font-size: 18px; margin: 0px 0px 10px 0px; }
.news_bar { text-align: center; background: #CCC; padding: 5px; margin: 5px; }
.news_rem .rembar { text-align:left; background: #DDD; padding: 8px; margin: 10px 5px; }
.news_rem .remadd { display:inline-block; float:right; text-align:center; background: #FFF; padding:1px 5px; }
.news_rem .remtitle { display:block; }
.news_rem dt { border-bottom:1px solid #CCF; padding:0px 0px 10px 0px; margin:0px 0px 10px 0px; }
.news_rem dt span{ font-size:14px; font-weight:bold; color:444; }
.news_rem dl { display:block; border:1px solid #CCC; padding:10px; margin:10px; }
