
.pg_bar { text-align:center; }
div.pg_bar li.pg_goto { display:none; }

/* 嵌入内容 */
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/* 包含浮动: h5bp.com/q */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.LowIE { width:99%; max-width:480px; text-align:center; color:#FFF; padding:10px; margin:10px auto; }

.divOuter {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}
#divDemo {
    clear: both;
    float: left;
    margin-left: 0;
    width: 100%;
    display: block;
}

/* 平板电脑布局: 481px 至 768px。样式继承自: 移动设备布局。 */
@media only screen and (min-width: 481px) {
.divOuter {
    width: 480px;
    padding-left: 1px;
    padding-right: 1px;
}
#divDemo {
    clear: both;
    float: left;
    margin-left: 0;
    width: 100%;
    display: block;
}
}

/* 打印样式 */
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* 黑白打印速度更快: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* 不显示图像链接或 javascript/内部链接 */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

.header{ position:relative; padding:0px 5px 0px 0px; margin:0px auto 10px auto; 
    background:-webkit-linear-gradient(top, #fff, #c4e2f6);
    background: -ms-linear-gradient(top, #fff, #c4e2f6);
    background:linear-gradient(top, #fff, #c4e2f6);
}
.header ul, .header li{ min-width:120px; padding:10px; margin:0px; list-style:inside; }
.header ul.main{ position:absolute; right:5px; top:36px; background:#FFF; border:1px solid #CCC; 
    border-top-left-radius:5px;
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
    border-bottom-left-radius:5px; 
}
.header li{ padding:10px 0px 10px 0px; margin:0px 0px 0px 0px; border-bottom:1px dashed #CCCCCC; }
.header .menu { cursor:pointer; padding:5px; margin:8px 0px 0px 0px; border:1px dashed #69F; border-radius:2px; border-top-left-radius:12px; }
.header .menu a{ padding:0px 6px; }

.header .logo { padding:5px; margin:0px; border-bottom:1px dashed #CCCCCC; }
.header .subs { min-width:120px; position:absolute; left:54px; top:36px; background:#FFF; border:1px solid #CCC; 
    border-top-left-radius:0px;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:0px; 
}
.header .logo i, .header .logo b{ font-style:normal; font-weight:normal;  }
.header .logo b{ cursor:pointer; padding:8px 5px; margin:8px 0px 0px 5px; border:1px dashed #69F; border-radius:2px; border-top-right-radius:12px; }
.header .logo b i{  }
.header .logo img { border-radius:3px; }

.footer{ padding:5px; margin:10px auto 0 auto; border-top:1px solid #CCC; 
    background:-webkit-linear-gradient(top, #DDD, #fff);
    background:-ms-linear-gradient(top, #DDD, #fff);
    background:linear-gradient(top, #DDD, #fff);
}
.footer p{ padding:5px; margin:0px; }
.footer p.links a{ display:inline-block; padding:0px 5px; margin:0px 10px; }

.pgf_main { padding:1px 10px; }

.mod-home { width: 100%; line-height: 150%; border: 1px solid #CCC; padding: 10px; margin: 0px 10px 10px 0px; }
.mod-home .type { list-style:none; font-style: normal; font-weight:bold; padding-top:0px; margin-top:0px; border-bottom: 1px solid #CCC; }
.mod-home b, .mod-home i { font-weight:normal; font-style:normal; }
.mod-home li { list-style-position:inside; padding:8px; margin:5px 0px; border-bottom:1px dashed #CCC; }
.mod-home li .atype{ float:right; color:#666; font-style: normal; }

.news-list i, .news-list b{ font-weight:normal; font-style:normal; }
.news-list dt{ font-weight:normal; padding:5px 0px 10px 0px; border-bottom:1px dashed #CCC; margin:0px 0px 5px 0px; }
.news-list .atype{ float:right; }

.news_title { font-size:larger; font-weight:bold; text-align:center; padding:5px; margin:5px; }
.news_bar { text-align: center; background: #CCC; padding: 5px 0; margin: 5px 0; }
.news_text { margin:10px 0px 0px 0px; }
.news_text, td.news_text, td.news_text p, div.news_text, div.news_text p { font-size:14px; line-height:150%; }
.news_rem .rembar { text-align:left; background: #DDD; padding: 8px; margin: 10px 0px; }
.news_rem .remadd { display:inline-block; float:right; text-align:center; background: #FFF; padding:1px 5px; }
.news_rem .remtitle { display:block; }
.news_rem dt { border-bottom:1px solid #CCF; padding:0px 0px 10px 0px; margin:0px 0px 10px 0px; }
.news_rem dt span{ font-size:14px; font-weight:bold; color:444; }
.news_rem dl { display:block; border:1px solid #CCC; padding:10px; margin:10px 0; }

.vote_rem .rembar { text-align:left; background: #DDD; padding: 8px; margin: 10px 0px; }
.vote_rem .remadd { display:inline-block; float:right; text-align:center; background: #FFF; padding:1px 5px; }
.vote_rem .remtitle { display:block; }
.vote_rem dt { font-weight:normal; padding:0px; margin:0px; }
.vote_rem dt span{ font-size:14px; color:444; }
.vote_rem dl { display:block; border:1px solid #CCC; padding:10px; margin:10px 0; }
.vote_rem dd { border-top:1px solid #CCF; padding:5px 0px; margin:3px 0px 0px 0px;  }

.resume-list { width:100%; }
.resume-list dt { margin-bottom:5px; }
.resume-list dt a { font-size:large; }
.resume-list dt i, .resume-list dt b { font-style: normal; display: inline-block; padding: 0px 3px 0px 3px; }
.resume-list dt i.atype { color:#666; white-space:nowrap; }
.resume-list dt i.atime { color:#666; }
.resume-list dt { width: 100%; font-weight:normal; } 
.resume-list dd { width: 100%; font-size:small; color:#666; border-bottom:1px dashed #CCC; padding: 0px 10px 10px 3px; margin:5px 0px 10px 5px; }
.resume-list dd i, .resume-list dd b { font-style: normal; display: inline-block; padding: 0px 3px 0px 3px; }
.resume-list dd i.click { width: 18%; text-align:left; white-space:nowrap; }
.resume-list dd i.price { width: 18%; text-align:left; white-space:nowrap; }

.keres-table { border-top:1px dashed #CCC; }
.keres-table td { padding:2px 2px; word-break:break-all }
.keres-table td:hover { background:#FFC; }
.keres-table i { font-style: normal; display: inline-block; }
.keres-table .title a { font-size:large; }
.keres-table .resume { color:#666; padding:1px 1px; margin:1px 1px; border-bottom:1px dashed #CCC; }

.keres-vdo { width:100%; margin:10px auto; }
.keres-down {  width:100%; text-align:center; padding:10px; margin:10px auto; border:1px dashed #CCC; }

.pro-table { border:1px solid #DDD; }
.pro-table p{ text-align:center; padding:0px; margin:0px; }
.pro-table i, .pro-table b{ font-weight:normal; font-style:normal; }
.pro-table img { padding:3px; }
.pro-table p.detail{ padding:1px 10px; }
.pro-table p.title{ padding:5px 1px 10px 1px; }
.pro-table .price { float:left; }
.pro-table .click { float:right; }

h1.pro_title { text-align: center; font-family: "Microsoft YaHei", "黑体"; font-size: 18px; margin: 0px 0px 10px 0px; }
.pro_bar { text-align: center; background: #CCC; padding: 5px; margin: 5px; }

.pro-detail .detab td { text-align:center; color:#039; cursor:pointer; padding:5px 0px; border:1px solid #CCC; }
.pro-detail .detail td { padding:10px; }
.pro-detail td.act { color:#F00; }
.pro-detail .rel_docs p { padding:2px 10px; }
.pro-detail .rel_docs td { padding:10px 10px; }
div.bdsharebuttonbox {  }
.pro-resume td { border:1px solid #CCC; }
#pro-bsharebar { 5px; }
.pro-picBig { padding:10px; }
.pro-items {  padding:10px 1px 10px 1px; }
#picMini { text-align:center; padding:10px 1px 10px 1px; }
#picMini img{ margin:1px 5px 1px 5px; border:1px solid #CCC; }
.pro-paras{ padding:10px 0px; }
.pro-paras p{ padding:2px 0px; border-bottom:1px dashed #EEE; margin-bottom:5px; }
.pro-paras p:hover{ background-color:#FFC; }
.pro-paras .itm-text{ padding:0px 5px; }

.pro-paras b, .pro-paras i { font-style:normal; font-weight:normal; display:inline-block; line-height:180%; }
.pro-paras b { text-align:left; }
.pro-paras i { width:100px; color:#666; text-align:right; padding:0px 5px 0px 1px; }
.pro-paras span { padding:0px 5px 0px 5px; }

.mpic_out i, .mpic_out b { font-style:normal; font-weight:normal; }
.mpic_out .pview { width:285px; height:215px; float:left; text-align:center; position: relative; padding:10px 0px 10px 0px; margin:1px 1px 10px 10px; border:1px solid #CCC; }
.mpic_out div { width:100%; }

.mpic_out .cntout, .mpic_out .seltype { display:inline-block; padding:1px 10px; }
.mpic_out .cntout { }
.mpic_out .seltype { width:120px; float:right; }

.indoc-readlog {}
.indoc-readlog dt { font-weight:normal; border-bottom:1px dashed #EEE; }
.indoc-readlog i { font-style:normal;  }