/* CSS Document */

.info-nav {
    width:180px; height:120px; overflow:hidden;
    float:left; xdisplay:inline-block; 
    border:1px solid #999;
    padding:10px;
    margin:0px 5px 10px 5px;
}
.info-nav .title {
    font-weight:bold;
    padding:0px 0px 5px 0px;
}

p.type-title {
    font-size:14px;
    color:#444;
    font-weight:bold;
    padding:5px 0px 5px 20px;
}
p.type-item a { 
    font-size:14px;
    line-height:180%;
    display:inline-block; margin:0px 8px; 
}
