<!DOCTYPE html><html><head>
<?php glbHtml::page('init',1); ?>
<title>{php echo basLang::show('admin.adm_center').'-'.$_cbase['sys_name']; }</title>
{php}
eimp('initJs','jquery,bootstrap,layer;comm;comm(-lang)');
eimp('initCss','bootstrap,stpub,jstyle;comm-mob'); 
tex('homeCtrl')->adm_jscfgs();
glbHtml::page('aumeta');
{/php}
<script src="{=PATH_DTMP}/dset/_muadm.cfg.js"></script>
<style type='text/css'>html,body{overflow:hidden;}</style>
</head><body>

<div class="header">

  <div class="dropdown pull-right">
    <button class="btn btn-primary dropdown-toggle bg-primary" type="button" id="nav_mdoc1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <span class="fa fa-list"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="nav_mdoc1" id='adf_nav1'>
      <!--top-nav-->
      <li role="separator" class="divider"></li>
      <?php echo basLang::links("<li><a href='{url}' class='c666' title='{title}'><i class='fa fa-random'></i> {title}</a></li>"); ?>
      <li role="separator" class="divider"></li>
      <li><a href="?mkv=#uhome"><i class="fa fa-refresh"></i> {lang(admin.top_admin)}</a></li>
      <li><a href="{surl(comm:0)}"><i class="fa fa-home"></i> {lang(admin.top_front)}</a></li>
      <li><a href="?logout"><i class="fa fa-share"></i> {lang(admin.top_exit)}</a></li>

    </ul>
  </div>

  <div class="dropdown pull-left">
    <button class="btn btn-primary dropdown-toggle bg-primary" type="button" id="nav_msub2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <span id="adf_title">管理中心</span>
      <span class="fa fa-caret-down"></span>
    </button>
    <div class="dropdown-menu" aria-labelledby="nav_msub2" id='adf_left'>
      <!--left-menu-->
    </div>
  </div>

</div>

<div class="container pa1" id="adf_right">
<iframe src="{=$mainurl}" id="adf_main" name="adf_main" class="mframe" frameBorder=0></iframe>
</div>
{php eimp('/~tpl/awtop.js'); }

</body></html>
