<!DOCTYPE html><html><head>
<?php glbHtml::page('init',1); ?>
<title>{php echo basLang::show('admin.adm_center').'-(sys_name)'; }</title>
{php}
eimp('initJs','jquery,bootstrap;comm;comm(-lang)');
eimp('initCss','stpub,bootstrap;comm'); 
glbHtml::page('aumeta');
$upd = req('act')=='update' ? 1 : 0;
{/php}
</head><body class="pcbody">
<div class="con.tainer">

<div class="row pv10">
  <div class="col-md-6 tc">
    <h4>[{=$_cbase['sys_name']}] {lang(admin.home_index)}</h4>
  </div>
  <div class="col-md-6 tc pv5">
    {lang(admin.home_sn)} : <a href='http://imcat.txjia.com/' target='_blank'>{=$_cbase['sys']['sn']}</a>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default" id='adh_links'>
      <div class="panel-heading">
        <h3 class="panel-title">...</h3>
      </div>
      <div class="panel-body">
        <div class="row"></div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{lang(admin.home_now_user)}</h3>
      </div>
      <div class="panel-body">
  ● {lang(admin.home_user)}: {=$user->uinfo['mname']} (<span class="c00F">{=$user->uinfo['uname']}</span>)<br>
  ● {lang(admin.home_ugroup)}: {=$user->uperm['title']}<br>
  ● {lang(admin.home_logip)}: {=$_cbase['run']['userip']}<br>
  ● {lang(admin.home_systime)}: {stime($_cbase['run']['stamp'],min)}<br>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{lang(admin.home_stdocs)}</h3>
      </div>
      <div class="panel-body">
        <?php updInfo::showModStat('docs');?>
      </div>
      <div class="panel-heading">
        <h3 class="panel-title">{lang(admin.home_stcoms)}</h3>
      </div>
      <div class="panel-body">
        <?php updInfo::showModStat('coms');?>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{lang(admin.home_stuser)}</h3>
      </div>
      <div class="panel-body">
        <?php updInfo::showModStat('users');?>
      </div>
      <div class="panel-heading">
        <h3 class="panel-title">{lang(admin.home_stadvs)}</h3>
      </div>
      <div class="panel-body">
        <?php updInfo::showModStat('advs');?>
      </div>
    </div>
  </div>
</div>

<div class="clear"></div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{lang(admin.home_sysinfo)}</h3>
      </div>
      <div class="panel-body uh-sys">
    <?php 
    $a = array('verPHP','verGdlib','runRemote'); 
    foreach($a as $k){ 
        $re = devRun::$k();
        echo "● $re[title] : $re[info]<br>\n";
    }
    ?>
    ● Server Time: <?=date('Y-m-d H:i:s')?> <br>
    ● {lang(admin.home_sysvars)}: <a href="?uhome&exinfo=cbase">cbase</a>, 
    <a href="?uhome&exinfo=admin">admin</a>, 
    <a href="?uhome&exinfo=member">member</a>, 
    <a href="{=PATH_ROOT}/tools/adbug/binfo.php?cookie" target="_blank">COOKIE</a>, 
    <a href="{=PATH_ROOT}/tools/adbug/binfo.php?server" target="_blank">SERVER</a>, 
    <a  href='{=PATH_ROOT}/tools/adbug/binfo.php?phpinfo255' target='_blank'>phpinfo</a>, 
    <a  href='{=PATH_ROOT}/tools/adbug/check.php?act=define' target='_blank'>Defined</a> <br>
    ● {lang(admin.home_update)}: <a href="?uhome&act=update">{lang(admin.home_upsver)}</a>, 
    <a href="?uhome&act=modstat">{lang(admin.home_upstat)}</a>,
    <a href="?uhome&act=uspace">{lang(admin.home_upspace)}</a>,
    [<a href="?uhome">{lang(admin.home_refresh)}</a>-<a href="{=PATH_ROOT}/plus/api/update.php?act=nav">nav</a>]<br>

      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{lang(admin.home_sysspace)}</h3>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
        <table class="table uh-space">
          <?php updInfo::showSpaceInfo(); ?>
        </table>
        </div>  
      </div>
    </div>
  </div>
</div>

<div class="clear"></div>

<?php
$stype = 'afadmin'; $actstr = $whrself = '';
include DIR_IMCAT."/flow/eact/adfavor_view.php";
?>

<div class="clear"></div>

{if !empty($exinfo)}
<div style=" width:100%; height:240px; overflow-y:scroll; border:1px solid #039; padding:5px;">
<?php
echo "\n<div class='h05'>&nbsp;</div>";
echo "<pre>[!-- $exinfo ".lang('admin.home_exinfo')." <a href='?uhome'>&lt;&lt;".lang('admin.home_exback')."</a> \n";
if($exinfo=='cbase'){
    print_r($_cbase);
}elseif($exinfo=='admin'){
    print_r($user);
}elseif($exinfo=='member'){
    $umem = user('Member');
    print_r($umem);
}
echo "--></pre>\n";
?> 
</div>
{/if}

<p class="tc pv20"><?php if($_cbase['debug']['err_mode']) echo basDebug::runInfo(); ?></p>

</div>
</body></html>

<script>
$(function(){ 
    var tabs = admSloc.get('abcNav_tabs'),
        res = new Array(), nav1 = jsElm.pdID('adf_nav1');
    if(tabs){
        try{ res = JSON.parse(tabs); }
        catch(ex1){ jsLog(ex1); }
    }
    // adi_links
    var html='', drow='', cnt=0;
    $.each(res,function(id,el){
        drow = JSON.stringify(el);
        var p = " onclick='admLnkc(this)' p='"+drow+"' ",
            t = ""+el.rt+" &gt; "+el.pt+" &gt; "+el.title+"",
            ahtml = nav1 ? $(nav1).find('.atm_'+el.rid).html() : el.rt,
            title = ""+ahtml+">"+el.pt+">"+el.title+"";
        html += "<div class='col-xs-6'> <a href='"+el.url+"' "+p+">"+title+"</a></div>";
        cnt++; if(cnt==8){ return false; }
    });
    $('#adh_links .panel-body>div').html(html);
    $('#adh_links h3').html(Lang.adm.nav_nearest);
    // jump-last-url
    drow = admSses.get('abcNav_lses');
    if(drow) { drow = JSON.parse(drow); }
    if(top.location.hash){
        var url = top.location.hash.replace('#','?');
        window.location.href = url;
    }else if(drow && drow.url){
        window.location.href = drow.url;
    }else{
        jcronRun();
    }
});
</script>
