
body{ background:#FFF; border:0px; padding:0px; margin:0px; }
body, td, input, textarea, select, button{ color:#333; line-height:150%; font:normal "Lucida Grande", Verdana, Lucida, Helvetica, Arial, 'Simsun', sans-serif; }
ul, li, dl, dd, p, h1, h2, h3, h4, h5, h6, hr, form, fieldset { line-height:150%; margin:0; padding:0; }
li{ list-style:none; }

a { color: #134D9D; text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; cursor: pointer; }
a.cur { color: #C00; }
/* title */


.divOuter {
    width:100%;
    max-width:480px;
    margin:auto;
}
#divDemo {
    clear: both;
    float: left;
    margin-left: 0;
    width: 100%;
    display: block;
}

/* 打印样式 */
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* 黑白打印速度更快: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* 不显示图像链接或 javascript/内部链接 */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

.header{ position:relative; padding:0px 5px 0px 0px; margin:0px auto 10px auto; 
    background:-webkit-linear-gradient(top, #fff, #c4e2f6);
    background: -ms-linear-gradient(top, #fff, #c4e2f6);
    background:linear-gradient(top, #fff, #c4e2f6);
}
.header ul, .header li{ min-width:120px; padding:10px; margin:0px; list-style:inside; }
.header ul.main{ position:absolute; right:5px; top:36px; background:#FFF; border:1px solid #CCC; 
    border-top-left-radius:5px;
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
    border-bottom-left-radius:5px; 
}
.header li{ padding:10px 0px 10px 0px; margin:0px 0px 0px 0px; border-bottom:1px dashed #CCCCCC; }
.header .menu { cursor:pointer; padding:5px; margin:8px 0px 0px 0px; border:1px dashed #69F; border-radius:2px; border-top-left-radius:12px; }
.header .menu a{ padding:0px 6px; }

.header .logo { padding:5px; margin:0px; border-bottom:1px dashed #CCCCCC; }
.header .subs { min-width:120px; position:absolute; left:54px; top:36px; background:#FFF; border:1px solid #CCC; 
    border-top-left-radius:0px;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:0px; 
}
.header .logo i, .header .logo b{ font-style:normal; font-weight:normal;  }
.header .logo b{ cursor:pointer; padding:8px 5px; margin:8px 0px 0px 5px; border:1px dashed #69F; border-radius:2px; border-top-right-radius:12px; }
.header .logo b i{  }
.header .logo img { border-radius:3px; }

.footer{ padding:5px; margin:10px auto 0 auto; border-top:1px solid #CCC; 
    background:-webkit-linear-gradient(top, #DDD, #fff);
    background:-ms-linear-gradient(top, #DDD, #fff);
    background:linear-gradient(top, #DDD, #fff);
}

.footer p{ font-size:smaller; text-align:center; }

