
/* Push Info. */
.adpush_obj{
    position:relative;    
}
.adpush_edit{
    position:absolute; top:0; height:100%; width:100%; text-align:center;
    background:rgba(204, 204, 204, 0.6) none repeat scroll 0 0 !important; filter:Alpha(opacity=60); background:#ccc;
}
.adpush_edit a{
    display:inline-block; background:#FFF; color:#339; text-decoration:none;
    padding:1px 5px; margin:5px auto 0 auto; border:1px solid #999; border-radius:5px;
}
.adpush_edit a:hover{ color:#C00; }
