
/* peace.public */
/* padding-a */
.pa1{padding:1px;}.pa2{padding:2px;}.pa3{padding:3px;}.pa4{padding:4px;}
.pa5{padding:5px;}.pa8{padding:8px;}
.pa10{padding:10px;}.pa12{padding:12px;}.pa15{padding:15px;}.pa18{padding:18px;}
.pa20{padding:20px;}.pa30{padding:30px;}.pa50{padding:50px;}
/* padding-t */
.pt1{padding-top:1px;}.pt2{padding-top:2px;}.pt3{padding-top:3px;}.pt4{padding-top:4px;}
.pt5{padding-top:5px;}.pt8{padding-top:8px;}.pt10{padding-top:10px;}
/* padding-v */
.pv1{padding:1px 0;}.pv2{padding:2px 0;}.pv3{padding:3px 0;}.pv4{padding:4px 0;}
.pv5{padding:5px 0;}.pv8{padding:8px 0;}
.pv10{padding:10px 0;}.pv12{padding:12px 0;}.pv15{padding:15px 0;}.pv18{padding:18px 0;}
.pv20{padding:20px 0;}.pv30{padding:30px 0;}.pv50{padding:50px 0;}
/* padding-h */
.ph1{padding:0 1px;}.ph2{padding:0 2px;}.ph3{padding:0 3px;}.ph4{padding:0 4px;}
.ph5{padding:0 5px;}.ph8{padding:0 8px;}
.ph10{padding:0 10px;}.ph12{padding:0 12px;}.ph15{padding:0 15px;}.ph18{padding:0 18px;}
.ph20{padding:0 20px;}.ph30{padding:0 30px;}.ph50{padding:0 50px;}
/* margin-a */
.ma1{margin:1px;}.ma2{margin:2px;}.ma3{margin:3px;}.ma4{margin:4px;}
.ma5{margin:5px;}.ma8{margin:8px;}
.ma10{margin:10px;}.ma12{margin:12px;}.ma15{margin:15px;}.ma18{margin:18px;}
.ma20{margin:20px;}.ma30{margin:30px;}.ma50{margin:50px;}
/* margin-t */
.mt1{margin-top:1px;}.mt2{margin-top:2px;}.mt3{margin-top:3px;}.mt4{margin-top:4px;}
.mt5{margin-top:5px;}.mt8{margin-top:8px;}.mt10{margin-top:10px;}
/* margin-v */
.mv1{margin:1px 0;}.mv2{margin:2px 0;}.mv3{margin:3px 0;}.mv4{margin:4px 0;}
.mv5{margin:5px 0;}.mv8{margin:8px 0;}
.mv10{margin:10px 0;}.mv12{margin:12px 0;}.mv15{margin:15px 0;}.mv18{margin:18px 0;}
.mv20{margin:20px 0;}.mv30{margin:30px 0;}.mv50{margin:50px 0;}
/* margin-h */
.mh1{margin:0 1px;}.mh2{margin:0 2px;}.mh3{margin:0 3px;}.mh4{margin:0 4px;}
.mh5{margin:0 5px;}.mh8{margin:0 8px;}
.mh10{margin:0 10px;}.mh12{margin:0 12px;}.mh15{margin:0 15px;}.mh18{margin:0 18px;}
.mh20{margin:0 20px;}.mh30{margin:0 30px;}.mh50{margin:0 50px;} 
/* font-size */
.f8{font-size:8px;}.f9{font-size:9px;}
.f10{font-size:10px;}.f12{font-size:12px;}.f14{font-size:14px;}.f16{font-size:16px;}.f18{font-size:18px;}.f21{font-size:21px;}.f24{font-size:24px;}
.fB{font-weight:bold;}
/* line-height */
.h80{line-height:80%;}.h90{line-height:90%;}.h100{line-height:100%;}.h120{line-height:120%;}.h150{line-height:150%;}.h180{line-height:180%;}.h200{line-height:200%;}.h250{line-height:250%;}.h300{line-height:300%;}
.h01{line-height:1px;}.h02{line-height:2px;}.h03{line-height:3px;}.h04{line-height:4px;}.h05{line-height:5px;}.h06{line-height:6px;}.h07{line-height:7px;}.h08{line-height:8px;}.h09{line-height:9px;}
.h10{line-height:10px;}.h12{line-height:12px;}.h15{line-height:15px;}.h18{line-height:18px;}.h20{line-height:20px;}.h25{line-height:25px;}
.h30{line-height:30px;}.h35{line-height:35px;}.h40{line-height:40px;}.h45{line-height:45px;}.h50{line-height:50px;}
/* width */
.wp10{width:10%;}.wp15{width:15%;}.wp20{width:20%;}.wp25{width:25%;}.wp30{width:30%;}.wp40{width:40%;}.wp50{width:50%;}.wp60{width:60%;}.wp70{width:70%;}.wp80{width:80%;}.wp90{width:90%;}.wp100{width:100%;}
.w5{width:5px;}.w10{width:10px;}.w15{width:15px;}.w20{width:20px;}.w25{width:25px;}.w30{width:30px;}.w35{width:35px;}.w40{width:40px;}.w45{width:45px;}
.w50{width:50px;}.w55{width:55px;}.w60{width:60px;}.w65{width:65px;}.w70{width:70px;}.w75{width:75px;}.w80{width:80px;}.w85{width:85px;}.w90{width:90px;}.w95{width:95px;}
.w100{width:100px;}.w105{width:105px;}.w110{width:110px;}.w115{width:115px;}.w120{width:120px;}.w125{width:125px;}.w130{width:130px;}.w135{width:135px;}.w140{width:140px;}.w145{width:145px;}
.w150{width:150px;}.w155{width:155px;}.w160{width:160px;}.w165{width:165px;}.w170{width:170px;}.w175{width:175px;}.w180{width:180px;}.w185{width:185px;}.w190{width:190px;}.w195{width:195px;}
.w200{width:200px;}.w210{width:210px;}.w220{width:220px;}.w230{width:230px;}.w240{width:240px;}.w250{width:250px;}.w260{width:260px;}.w270{width:270px;}.w280{width:280px;}.w290{width:290px;}
.w300{width:300px;}.w310{width:310px;}.w320{width:320px;}.w330{width:330px;}.w340{width:340px;}.w350{width:350px;}.w360{width:360px;}.w370{width:370px;}.w380{width:380px;}.w390{width:390px;}
.w400{width:400px;}.w450{width:450px;}.w500{width:500px;}.w550{width:550px;}.w600{width:600px;}.w650{width:650px;}.w700{width:700px;}.w750{width:750px;}.w800{width:800px;}.w850{width:850px;}
.w900{width:900px;}

/* peace.color.start */
.c000,a.c000:link,a.c000:visited{color:#000}.c333,a.c333:link,a.c333:visited{color:#333}.c666,a.c666:link,a.c666:visited{color:#666}.c999,a.c999:link,a.c999:visited{color:#999}.cCCC,a.cCCC:link,a.cCCC:visited{color:#CCC}.cFFF,a.cFFF:link,a.cFFF:visited{color:#FFF}
.c003,a.c003:link,a.c003:visited{color:#003}.c006,a.c006:link,a.c006:visited{color:#006}.c009,a.c009:link,a.c009:visited{color:#009}.c00C,a.c00C:link,a.c00C:visited{color:#00C}.c00F,a.c00F:link,a.c00F:visited{color:#00F}.c030,a.c030:link,a.c030:visited{color:#030}
.c033,a.c033:link,a.c033:visited{color:#033}.c036,a.c036:link,a.c036:visited{color:#036}.c039,a.c039:link,a.c039:visited{color:#039}.c03C,a.c03C:link,a.c03C:visited{color:#03C}.c03F,a.c03F:link,a.c03F:visited{color:#03F}.c060,a.c060:link,a.c060:visited{color:#060}
.c063,a.c063:link,a.c063:visited{color:#063}.c066,a.c066:link,a.c066:visited{color:#066}.c069,a.c069:link,a.c069:visited{color:#069}.c06C,a.c06C:link,a.c06C:visited{color:#06C}.c06F,a.c06F:link,a.c06F:visited{color:#06F}.c090,a.c090:link,a.c090:visited{color:#090}
.c093,a.c093:link,a.c093:visited{color:#093}.c096,a.c096:link,a.c096:visited{color:#096}.c099,a.c099:link,a.c099:visited{color:#099}.c09C,a.c09C:link,a.c09C:visited{color:#09C}.c09F,a.c09F:link,a.c09F:visited{color:#09F}.c0C0,a.c0C0:link,a.c0C0:visited{color:#0C0}
.c0C3,a.c0C3:link,a.c0C3:visited{color:#0C3}.c0C6,a.c0C6:link,a.c0C6:visited{color:#0C6}.c0C9,a.c0C9:link,a.c0C9:visited{color:#0C9}.c0CC,a.c0CC:link,a.c0CC:visited{color:#0CC}.c0CF,a.c0CF:link,a.c0CF:visited{color:#0CF}.c0F0,a.c0F0:link,a.c0F0:visited{color:#0F0}
.c0F3,a.c0F3:link,a.c0F3:visited{color:#0F3}.c0F6,a.c0F6:link,a.c0F6:visited{color:#0F6}.c0F9,a.c0F9:link,a.c0F9:visited{color:#0F9}.c0FC,a.c0FC:link,a.c0FC:visited{color:#0FC}.c0FF,a.c0FF:link,a.c0FF:visited{color:#0FF}.c300,a.c300:link,a.c300:visited{color:#300}
.c303,a.c303:link,a.c303:visited{color:#303}.c306,a.c306:link,a.c306:visited{color:#306}.c309,a.c309:link,a.c309:visited{color:#309}.c30C,a.c30C:link,a.c30C:visited{color:#30C}.c30F,a.c30F:link,a.c30F:visited{color:#30F}.c330,a.c330:link,a.c330:visited{color:#330}
.c336,a.c336:link,a.c336:visited{color:#336}.c339,a.c339:link,a.c339:visited{color:#339}.c33C,a.c33C:link,a.c33C:visited{color:#33C}.c33F,a.c33F:link,a.c33F:visited{color:#33F}.c360,a.c360:link,a.c360:visited{color:#360}.c363,a.c363:link,a.c363:visited{color:#363}
.c366,a.c366:link,a.c366:visited{color:#366}.c369,a.c369:link,a.c369:visited{color:#369}.c36C,a.c36C:link,a.c36C:visited{color:#36C}.c36F,a.c36F:link,a.c36F:visited{color:#36F}.c390,a.c390:link,a.c390:visited{color:#390}.c393,a.c393:link,a.c393:visited{color:#393}
.c396,a.c396:link,a.c396:visited{color:#396}.c399,a.c399:link,a.c399:visited{color:#399}.c39C,a.c39C:link,a.c39C:visited{color:#39C}.c39F,a.c39F:link,a.c39F:visited{color:#39F}.c3C0,a.c3C0:link,a.c3C0:visited{color:#3C0}.c3C3,a.c3C3:link,a.c3C3:visited{color:#3C3}
.c3C6,a.c3C6:link,a.c3C6:visited{color:#3C6}.c3C9,a.c3C9:link,a.c3C9:visited{color:#3C9}.c3CC,a.c3CC:link,a.c3CC:visited{color:#3CC}.c3CF,a.c3CF:link,a.c3CF:visited{color:#3CF}.c3F0,a.c3F0:link,a.c3F0:visited{color:#3F0}.c3F3,a.c3F3:link,a.c3F3:visited{color:#3F3}
.c3F6,a.c3F6:link,a.c3F6:visited{color:#3F6}.c3F9,a.c3F9:link,a.c3F9:visited{color:#3F9}.c3FC,a.c3FC:link,a.c3FC:visited{color:#3FC}.c3FF,a.c3FF:link,a.c3FF:visited{color:#3FF}.c600,a.c600:link,a.c600:visited{color:#600}.c603,a.c603:link,a.c603:visited{color:#603}
.c606,a.c606:link,a.c606:visited{color:#606}.c609,a.c609:link,a.c609:visited{color:#609}.c60C,a.c60C:link,a.c60C:visited{color:#60C}.c60F,a.c60F:link,a.c60F:visited{color:#60F}.c630,a.c630:link,a.c630:visited{color:#630}.c633,a.c633:link,a.c633:visited{color:#633}
.c636,a.c636:link,a.c636:visited{color:#636}.c639,a.c639:link,a.c639:visited{color:#639}.c63C,a.c63C:link,a.c63C:visited{color:#63C}.c63F,a.c63F:link,a.c63F:visited{color:#63F}.c660,a.c660:link,a.c660:visited{color:#660}.c663,a.c663:link,a.c663:visited{color:#663}
.c669,a.c669:link,a.c669:visited{color:#669}.c66C,a.c66C:link,a.c66C:visited{color:#66C}.c66F,a.c66F:link,a.c66F:visited{color:#66F}.c690,a.c690:link,a.c690:visited{color:#690}.c693,a.c693:link,a.c693:visited{color:#693}.c696,a.c696:link,a.c696:visited{color:#696}
.c699,a.c699:link,a.c699:visited{color:#699}.c69C,a.c69C:link,a.c69C:visited{color:#69C}.c69F,a.c69F:link,a.c69F:visited{color:#69F}.c6C0,a.c6C0:link,a.c6C0:visited{color:#6C0}.c6C3,a.c6C3:link,a.c6C3:visited{color:#6C3}.c6C6,a.c6C6:link,a.c6C6:visited{color:#6C6}
.c6C9,a.c6C9:link,a.c6C9:visited{color:#6C9}.c6CC,a.c6CC:link,a.c6CC:visited{color:#6CC}.c6CF,a.c6CF:link,a.c6CF:visited{color:#6CF}.c6F0,a.c6F0:link,a.c6F0:visited{color:#6F0}.c6F3,a.c6F3:link,a.c6F3:visited{color:#6F3}.c6F6,a.c6F6:link,a.c6F6:visited{color:#6F6}
.c6F9,a.c6F9:link,a.c6F9:visited{color:#6F9}.c6FC,a.c6FC:link,a.c6FC:visited{color:#6FC}.c6FF,a.c6FF:link,a.c6FF:visited{color:#6FF}.c900,a.c900:link,a.c900:visited{color:#900}.c903,a.c903:link,a.c903:visited{color:#903}.c906,a.c906:link,a.c906:visited{color:#906}
.c909,a.c909:link,a.c909:visited{color:#909}.c90C,a.c90C:link,a.c90C:visited{color:#90C}.c90F,a.c90F:link,a.c90F:visited{color:#90F}.c930,a.c930:link,a.c930:visited{color:#930}.c933,a.c933:link,a.c933:visited{color:#933}.c936,a.c936:link,a.c936:visited{color:#936}
.c939,a.c939:link,a.c939:visited{color:#939}.c93C,a.c93C:link,a.c93C:visited{color:#93C}.c93F,a.c93F:link,a.c93F:visited{color:#93F}.c960,a.c960:link,a.c960:visited{color:#960}.c963,a.c963:link,a.c963:visited{color:#963}.c966,a.c966:link,a.c966:visited{color:#966}
.c969,a.c969:link,a.c969:visited{color:#969}.c96C,a.c96C:link,a.c96C:visited{color:#96C}.c96F,a.c96F:link,a.c96F:visited{color:#96F}.c990,a.c990:link,a.c990:visited{color:#990}.c993,a.c993:link,a.c993:visited{color:#993}.c996,a.c996:link,a.c996:visited{color:#996}
.c99C,a.c99C:link,a.c99C:visited{color:#99C}.c99F,a.c99F:link,a.c99F:visited{color:#99F}.c9C0,a.c9C0:link,a.c9C0:visited{color:#9C0}.c9C3,a.c9C3:link,a.c9C3:visited{color:#9C3}.c9C6,a.c9C6:link,a.c9C6:visited{color:#9C6}.c9C9,a.c9C9:link,a.c9C9:visited{color:#9C9}
.c9CC,a.c9CC:link,a.c9CC:visited{color:#9CC}.c9CF,a.c9CF:link,a.c9CF:visited{color:#9CF}.c9F0,a.c9F0:link,a.c9F0:visited{color:#9F0}.c9F3,a.c9F3:link,a.c9F3:visited{color:#9F3}.c9F6,a.c9F6:link,a.c9F6:visited{color:#9F6}.c9F9,a.c9F9:link,a.c9F9:visited{color:#9F9}
.c9FC,a.c9FC:link,a.c9FC:visited{color:#9FC}.c9FF,a.c9FF:link,a.c9FF:visited{color:#9FF}.cC00,a.cC00:link,a.cC00:visited{color:#C00}.cC03,a.cC03:link,a.cC03:visited{color:#C03}.cC06,a.cC06:link,a.cC06:visited{color:#C06}.cC09,a.cC09:link,a.cC09:visited{color:#C09}
.cC0C,a.cC0C:link,a.cC0C:visited{color:#C0C}.cC0F,a.cC0F:link,a.cC0F:visited{color:#C0F}.cC30,a.cC30:link,a.cC30:visited{color:#C30}.cC33,a.cC33:link,a.cC33:visited{color:#C33}.cC36,a.cC36:link,a.cC36:visited{color:#C36}.cC39,a.cC39:link,a.cC39:visited{color:#C39}
.cC3C,a.cC3C:link,a.cC3C:visited{color:#C3C}.cC3F,a.cC3F:link,a.cC3F:visited{color:#C3F}.cC60,a.cC60:link,a.cC60:visited{color:#C60}.cC63,a.cC63:link,a.cC63:visited{color:#C63}.cC66,a.cC66:link,a.cC66:visited{color:#C66}.cC69,a.cC69:link,a.cC69:visited{color:#C69}
.cC6C,a.cC6C:link,a.cC6C:visited{color:#C6C}.cC6F,a.cC6F:link,a.cC6F:visited{color:#C6F}.cC90,a.cC90:link,a.cC90:visited{color:#C90}.cC93,a.cC93:link,a.cC93:visited{color:#C93}.cC96,a.cC96:link,a.cC96:visited{color:#C96}.cC99,a.cC99:link,a.cC99:visited{color:#C99}
.cC9C,a.cC9C:link,a.cC9C:visited{color:#C9C}.cC9F,a.cC9F:link,a.cC9F:visited{color:#C9F}.cCC0,a.cCC0:link,a.cCC0:visited{color:#CC0}.cCC3,a.cCC3:link,a.cCC3:visited{color:#CC3}.cCC6,a.cCC6:link,a.cCC6:visited{color:#CC6}.cCC9,a.cCC9:link,a.cCC9:visited{color:#CC9}
.cCCF,a.cCCF:link,a.cCCF:visited{color:#CCF}.cCF0,a.cCF0:link,a.cCF0:visited{color:#CF0}.cCF3,a.cCF3:link,a.cCF3:visited{color:#CF3}.cCF6,a.cCF6:link,a.cCF6:visited{color:#CF6}.cCF9,a.cCF9:link,a.cCF9:visited{color:#CF9}.cCFC,a.cCFC:link,a.cCFC:visited{color:#CFC}
.cCFF,a.cCFF:link,a.cCFF:visited{color:#CFF}.cF00,a.cF00:link,a.cF00:visited{color:#F00}.cF03,a.cF03:link,a.cF03:visited{color:#F03}.cF06,a.cF06:link,a.cF06:visited{color:#F06}.cF09,a.cF09:link,a.cF09:visited{color:#F09}.cF0C,a.cF0C:link,a.cF0C:visited{color:#F0C}
.cF0F,a.cF0F:link,a.cF0F:visited{color:#F0F}.cF30,a.cF30:link,a.cF30:visited{color:#F30}.cF33,a.cF33:link,a.cF33:visited{color:#F33}.cF36,a.cF36:link,a.cF36:visited{color:#F36}.cF39,a.cF39:link,a.cF39:visited{color:#F39}.cF3C,a.cF3C:link,a.cF3C:visited{color:#F3C}
.cF3F,a.cF3F:link,a.cF3F:visited{color:#F3F}.cF60,a.cF60:link,a.cF60:visited{color:#F60}.cF63,a.cF63:link,a.cF63:visited{color:#F63}.cF66,a.cF66:link,a.cF66:visited{color:#F66}.cF69,a.cF69:link,a.cF69:visited{color:#F69}.cF6C,a.cF6C:link,a.cF6C:visited{color:#F6C}
.cF6F,a.cF6F:link,a.cF6F:visited{color:#F6F}.cF90,a.cF90:link,a.cF90:visited{color:#F90}.cF93,a.cF93:link,a.cF93:visited{color:#F93}.cF96,a.cF96:link,a.cF96:visited{color:#F96}.cF99,a.cF99:link,a.cF99:visited{color:#F99}.cF9C,a.cF9C:link,a.cF9C:visited{color:#F9C}
.cF9F,a.cF9F:link,a.cF9F:visited{color:#F9F}.cFC0,a.cFC0:link,a.cFC0:visited{color:#FC0}.cFC3,a.cFC3:link,a.cFC3:visited{color:#FC3}.cFC6,a.cFC6:link,a.cFC6:visited{color:#FC6}.cFC9,a.cFC9:link,a.cFC9:visited{color:#FC9}.cFCC,a.cFCC:link,a.cFCC:visited{color:#FCC}
.cFCF,a.cFCF:link,a.cFCF:visited{color:#FCF}.cFF0,a.cFF0:link,a.cFF0:visited{color:#FF0}.cFF3,a.cFF3:link,a.cFF3:visited{color:#FF3}.cFF6,a.cFF6:link,a.cFF6:visited{color:#FF6}.cFF9,a.cFF9:link,a.cFF9:visited{color:#FF9}.cFFC,a.cFFC:link,a.cFFC:visited{color:#FFC}
/* peace.color.end */

/* Logo */
.txcode_logopub { width:40px; height:40px; background-image:url(../../../skin/_pub/logo/imcat-40x.png); }
/* Public */
.bold{ font-weight:bold}
.tl{text-align:left;}
.tc{text-align:center;}
.tr,input.tr{text-align:right;}
.left{float:left;}
.right{float:right;}
.clear{clear:both;}
.cleft{clear:left;}
.cright{clear:right;}
.cnone{clear:none;}
.cinh{clear:inherit;}
.span{display:inline-block;}
.margin{margin:auto;}
.inblock{display:inline-block;}
.block{display:block;}
.hand{cursor:pointer;}
/* font-family */
.ffvs{font-family:Verdana, Geneva, sans-serif;}
.ffgs{font-family:Georgia, "Times New Roman", Times, serif;}
.ffcm{font-family:"Courier New", Courier, monospace;}
.ffas{font-family:Arial,Helvetica,sans-serif;}
/* only plus */
.hidden{display:none;}
.noborder{border:none;}
/* --- */
.fs_vimg, .fs_vimg_span, .fs_vimg_close, .fs_vimg img{ display:inline-block; }
.fs_vimg{ position:relative; }
.fs_vimg_span{ position:absolute; white-space:nowrap; background-color:#FFF; padding:5px; border:1px solid #999; }
.fs_vimg_close{ font-size:12px; font-family:Arial, Helvetica, sans-serif; line-height:100%; vertical-align:top;  
 cursor:pointer; padding:1px 1px 2px 1px; margin:0px 0px 0px 3px; border:1px solid #999; }
.fs_vimg img { width:160px; height:40px; vertical-align:top; cursor:pointer; }
/* --- */
div.edt_bar { }
div.edt_bar a { min-width:30px; text-align:center; font-size:12px; background:#E8E8E8; display:inline-block; list-style:none; cursor:pointer; border:1px solid #CCC; border-bottom:0px; padding:1px 2px; margin:1px 2px 0px 0px; }
div.edt_bar a:hover{ border-color:#999; background:#FFF; }
div.pg_bar { width:100%; }
div.pg_bar li{ padding:0px 3px; display:inline-block; margin:0px 3px; }
div.pg_bar li.pg_total, div.pg_bar li.pg_pagno, div.pg_bar li.pg_num{ padding:0px 3px; border:1px solid #999; }
{ padding:0px 3px; border:1px solid #999; }
div.pg_bar input{ width:40px; }
/* --- */
.fldicon{ height:20px; background-image:url(../../../skin/_pub/a_img/ficon.gif); background-repeat:no-repeat; 
  display:inline-block; cursor:pointer; vertical-align:middle; margin:1px 2px; border:0px solid #999; }
.fcolor{ width:16px; background-position:-2px -71px; }
.fdate{ width:16px; background-position:-2px -46px; }
.fmap{ width:32px; background-position:-2px -99px; }
.fzoom{ width:16px; background-position:-2px -130px; }
.ffile{ width:16px; background-position:-2px -185px; }

.tree_d1{ display:block; padding-left:0px; } 
.tree_d2{ display:block; padding-left:15px; } 
.tree_d3{ display:block; padding-left:30px; } 
.tree_d4{ display:block; padding-left:45px; } 
.tree_d5{ display:block; padding-left:60px; } 
.tree_bg{ background-image:url(../../../skin/_pub/a_img/ficon.gif); background-repeat:no-repeat; display:inline-block; border:0px solid #999; }
.tree_dA{ background-position:-2px -132px; height:18px; width:18px; vertical-align:middle; cursor:pointer;}
.tree_dC{ background-position:-2px -156px; height:18px; width:18px; vertical-align:middle; }    

.pics_out {  }
.pics_item {  }
.color_out{ display:inline-block; position:relative;display:inline-block; z-index:6130; }
.color_in{ display:inline-block; position:absolute;width:250px;height:200px;left:-256px;top:8px;background:#FFF;border:1px solid #CCC;padding:1px; }
/*.divcss5{height: expression_r(this.height> 500 ? 500 :true);  max-height:500px;} */
.wpop_step { width:expression_r(this.height>60?60:true);max-width:60px; height:16px; line-height:16px; vertical-align:middle; overflow:hidden; display:inline-block; padding:0px 5px 0px 0px; margin:0px; }
/* wpop */
input.wpop_icon, input.wpop_icon:hover, input.wpop_icon:focus { background-image:url(../../../skin/_pub/a_img/ficon.gif); background-repeat:no-repeat; cursor:pointer; }
.wpop_in2{ background:#FFF; border:1px solid #CCC; padding:3px; }
.wpop_out{ display:inline-block; }
.wpop_in{ display:inline-block; background:#FFF; border:1px solid #CCC; padding:3px; }
.wpop_iframe { z-index:-1; position:absolute; filter:alpha(opacity=0); -moz-opacity:0; }
.wpop_open{ height:18px; width:14px; background-image:url(../../../skin/_pub/a_img/ficon.gif); background-repeat:no-repeat; background-position:-2px -132px;
  display:inline-block; cursor:pointer; vertical-align:middle; margin:1px 1px; border:0px solid #999; }
.wpop_chrdiv{ padding:3px 3px 5px 3px; } 
.wpop_chrspan{ display:inline-block; color:#00C;font-weight:bold; padding:0px 5px 0px 0px; } 
/* advFlag */
.advFlag{ position:absolute; display:block; width:40px; padding:1px 1px; z-index:790913; 
  font-size:12px; text-align:center; font-style:normal; font-weight:normal; border:0px solid #CCC; }
.advTopR{ top:2px; right: 0px; }
.advTopL{ top:2px; left: 0px; }
.advBotR{ bottom:5px; right: 0px; }
.advBotL{ bottom:5px; left: 0px; }
.advShadow{ text-shadow:1px 1px #FFF; }
/* else */
.demo_max_height:{max-height:240px;_height:expression((document.documentElement.clientHeight||document.body.clientHeight)<240?"240px":"");overflow:hidden;}
.LowIE { width:640px; text-align:center; color:#FFF; padding:3px 10px 6px 10px; margin:10px auto; background-image:url(../../../skin/_pub/a_img/nv_11.png); background-position:0px -5px; background-repeat:repeat-x; }
/* only FF */
.cfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;} 
