
<div class="whead">
    <div class='hext'>
        <div class="btn-group">
            <div class="col1"><a href="{surl(weys-mob)}">Mob</a></div>
            <div class="col1"><a href="{surl(weys-pc)}">Pc</a></div>
            <div class="col1">会员 <a href="#" class="fa fa-user"></a></div>
            <div class="col1">搜索</div>
        </div>
        <div class="flex">
            <select class="col1">
                <option>新闻</option>
                <option>产品</option>
            </select>
            <input class="col3" value="#">
            <button class="col1 btn btn-act" type="submit">搜索</button>
        </div>
    </div>
    <div class='hmain'>
        <a href="#" class="fa fa-bars" id='smenuIcon' onclick="opSmenu(1,'smenu')"></a>
        <h1>微样式库 | WeCSSLib</h1>
        <p>for Jumbotron - 尊重知识，尊重版权</p>
    </div>
    <div class='hlogo'>
        <img src="<?=tpath(1)?>/logo/logo120x60.jpg">
    </div>
</div>
