
<div id='smenu' style="opacity:1;display:none">
    <div class="mask"></div>
    <div class="smenu">
        <i class="fa fa-close close" onclick="opSmenu(0,'smenu')"></i>
        <div class="hd"><img src="<?=tpath(1)?>/logo/gezi1-40x.jpg">微样式库</div>
        <div class="bd">
            {inc:"weys/x_menu"}
        </div>
        <div class="ft">
            <a href="javascript:" class="btn">主页</a>
            <a href="javascript:" class="btn" onclick="opSmenu(0,'smenu')">关闭</a>
        </div>
    </div>
</div>

