
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{inc:"incs/imp-head"}

<title>微样式库 | WeCSSLib - for Jumbotron</title>
<style type="text/css">

</style>
</head>
<body>

{inc:"weys/2_whead"}

<div class='tmenu'>
    {inc:"weys/x_menu"}
</div>
{inc:"weys/3_menu"}

<div class="wsec">
    <div class="wsub1 c41" style="background:var(--cD);">
        Subs：侧边内容：<br>{inc:"weys/x_text"}
    </div>
    <div class="wmain c43">
        Main：主要内容：<br>{inc:"weys/x_text"}
        {inc:"weys/3_grid"}
    </div>
</div>

<hr>
<div class="wsec2">
    {inc:"weys/3_grid"}
</div>
<hr>

<div class="wsec">
    <div class="wmain c43">
        Main：主要内容：<br>{inc:"weys/x_text"}
        {inc:"weys/1_lists"}
        <hr>
        {inc:"weys/1_mdarc"}
        <hr>
        {inc:"weys/1_lists"}
        <hr>
        <div>
            {inc:"weys/1_forms"}
        </div>
    </div>

    <div class="wsub2 c41" style="background:var(--cD);">
        Subs：侧边内容：<br>{inc:"weys/x_text"}
        <div class="pa10" style="background:var(--cF)">
            {inc:"weys/3_dialog"}
        </div>
        <hr>
        <div class="ma10">
        {inc:"weys/3_msg"}
        </div>
        <hr>

        {inc:"weys/x_arc"}

    </div>

</div>

{inc:"weys/2_wfoot"}

</body>
</html>
