
*{ word-wrap:break-word; outline:none; }
body{ background:#FFF; border:0px; padding:0px; margin:0px; }
body, td, input, textarea, select, button{ color:#333; line-height:150%; font:12px "Lucida Grande", Verdana, Lucida, Helvetica, Arial, 'Simsun', sans-serif; }
ul, li, dl, dd, p, h1, h2, h3, h4, h5, h6, hr, form, fieldset { line-height:150%; margin:0; padding:0; }
li{ list-style:none; }

div { border: 1px solid #999; padding: 10px; max-width: 620px; margin: 10px auto; }
p { font-weight: bold; text-align: center; background: #CCC; border: 1px dashed #999; padding: 5px; margin: 5px 0px; }
section { margin: 5px; }
li { border-bottom:1px solid #CCC; margin:1px 0px; padding:5px 0px 15px 0px; }
li,a { vertical-align:top; line-height:120%; }
i, b { font-style:normal; font-weight:normal; display:inline-block; padding:0px 3px; margin:0px; }
i { width:150px; }
b.comm, b.ext { float:right; }
b.comm { width:320px; text-align:right; }
b.ext { width:60px; text-align:left; }
b.view { width:50px; text-align:left; }
input, select { padding: 2px; }
.notice { font-size:small; color:#F00; background:#FF9; display:block; padding:5px; }
input.url { width:420px; }

.langbar { max-width: 620px; text-align:center; margin: 10px auto; padding:5px; border-bottom: 1px dashed #999; }
.langbar a { padding-right:5px; }
.langbar a:before { content:""; }

.w120 { width:120px; }
