
/* gun */
.cgun{ clear: both; position: relative; overflow:hidden; display:block;}
.cgun ul, .cgun li, .cgun p{ list-style:none; padding:0; margin:0; }

.cgun_box{ position: relative; width: 100%;}
.cgun_box li{ float: left;position: absolute; top: 0; left: 0; width: 100%; opacity: 0; opacity: 1;filter:alpha(opacity=100); }
.cgun_box li a{ display: block;width: 100%;  height: 100%; background-size:cover;}
.cgun_box p{ width: 100%; height: 34px; line-height: 34px; background: rgba(0,0,0,0.5); color: #fff; position: absolute; bottom: 0; text-align: center; padding: 0 10px;}
/*圆点*/
.cgun .cir_box{ overflow: hidden; position: absolute; z-index: 100;}
.cgun .cir_box li{ float: left; width:10px; height:10px; margin:0 5px; cursor: pointer; background: rgba(255,255,255,.9); border:1px solid #CCC; border-radius: 50%;}
.cgun .cir_box .cir_on{background: rgba(232,56,54,.9) !important;}
/*按钮*/
.cgun .cgun_btn{ width: 100%; top:95px; text-indent:99999px;}
.cgun .left_btn, .cgun .right_btn{ width: 38px; height: 61px; cursor: pointer; color: #fff; display: none;}
.cgun .left_btn{ float: left; background:url(./lunbo.png) no-repeat;position: absolute; top:50%; left:0; margin-top: -30px;}
.cgun .right_btn{ float: right;background:url(./lunbo.png) 38px 0;position: absolute; top:50%; right:0; margin-top: -30px;}
/* cgun _end*
