

.task-fmadd .col1{ word-break:keep-all; white-space:nowrap; }
.task-fmadd .col5{ text-align:right; word-break:break-all; white-space:normal; }
.task-fmadd .tl{ text-align:left; }
.task-fmadd .qrcode{ max-width:240px; width:100%; height:100%; margin:auto; }

.doBoxs{ border:10px solid #EEE; padding:1rem; border-radius:0.5rem; }
.doBoxs .row{ text-align:center; }
.doBtns .btn{ margin:0 0.5rem; }
.nexrow{ background:#FFF; margin-top:-1px; }
.nexrow .main, .nexrow .more{ border-top:1px dashed #DDD; }
.act_notes, .exnotes{ color:#888; }
.excss{ display:inline-block; color:#888; font-size:0.9rem; padding:0 0.2rem; border:1px solid #E0E0E0; border-radius:0.3rem; }

.btnGap{ line-height:1rem; }

.eq-fset{ display:block; width:100%; font-size:small; padding:0.5rem; border:10px solid #EEE; }

.cs-view{}
.cs-view h1{ line-height:120%; margin-bottom:0.3rem; }

@media only screen and (min-width:950px){
  .smenu-left { left:calc(50vw - 460px); }
  .smenu-right { right:calc(50vw - 460px); }
}

@media only screen and (max-width:550px){
  .cs-view h1{ font-size:1.2rem; }
}


#btnLoad{ display:inline-block; line-height:100%; padding:0; margin:0; overflow:hidden; }
#btnLoad .loading{ width:100%; max-width:15px; vertical-align:middle; }



.list2 .img img{ border-radius:0.3rem; }
.list2 .img  .reback{ font-size:small; color:#F0F; font-style:normal; margin-top:0.2rem; }
.list2 .at-uids .btn{ font-size:12px; color:#999; padding:4px 6px; margin:0.2rem 0.3rem 0 0; }


a.ico-new, .grbox>div a.ico-new i{ color:#bd5105; }
a.ico-atme, .grbox>div a.ico-atme i{ color:#6c8e05; }
a.ico-history, .grbox>div a.ico-history i{ color:#0da75a; }
a.ico-home, .grbox>div a.ico-home i{ color:#1f51e6; }

a.ico-qrcode, .grbox>div a.ico-qrcode i{ color:#bd5105; }
a.ico-chart, .grbox>div a.ico-chart i{ color:#1f51e6; }
a.ico-bar-chart, .grbox>div a.ico-bar-chart i{ color:#888; }



/* xxx */
.set1{  }

.toast .text{ font-size:1.0rem; }


