
<div class="all_goods_second" >
          <div class="goods_type">
            <label>
              <a href="/channel/176">* 计算机设备&gt;</a>
            </label>
              <dl class="sn-list">
                  <dd><a href="/channel/177">台式计算机(强制节能)</a></dd>
                  <dd><a href="/channel/178">便携式计算机(强制节能)</a></dd>
                  <dd><a href="/channel/111">液晶显示器(强制节能)</a></dd>
              </dl>
          </div>
          <div class="goods_type">
            <label>
              <a href="/channel/161">* 网络设备&gt;</a>
            </label>
              <dl class="sn-list">
                  <dd><a href="/channel/174">服务器</a></dd>
                  <dd><a href="/channel/175">交换机</a></dd>
              </dl>
          </div>
          <div class="goods_type">
            <label>
              <a href="/channel/173">* 打印设备&gt;</a>
            </label>
              <dl class="sn-list">
                  <dd><a href="/channel/179">A4激光打印机(强制节能)</a></dd>
                  <dd><a href="/channel/180">A3激光打印机(强制节能)</a></dd>
                  <dd><a href="/channel/181">喷墨打印机</a></dd>
                  <dd><a href="/channel/182">针式打印机(强制节能)</a></dd>
              </dl>
          </div>
          <div class="goods_type">
            <label>
              <a href="/channel/172">* 办公设备&gt;</a>
            </label>
              <dl class="sn-list">
                  <dd><a href="/channel/183">复印机</a></dd>
                  <dd><a href="/channel/197">复印机配件</a></dd>
                  <dd><a href="/channel/184">速印机</a></dd>
                  <dd><a href="/channel/110">多功能一体机</a></dd>
                  <dd><a href="/channel/115">碎纸机</a></dd>
                  <dd><a href="/channel/185">投影仪</a></dd>
                  <dd><a href="/channel/198">投影仪配件</a></dd>
                  <dd><a href="/channel/186">扫描仪</a></dd>
              </dl>
          </div>
          <div class="goods_type">
            <label>
              <a href="/channel/171">* 电器设备&gt;</a>
            </label>
              <dl class="sn-list">
                  <dd><a href="/channel/117">电视机(强制节能)</a></dd>
                  <dd><a href="/channel/170">空调机(强制节能)</a></dd>
                  <dd><a href="/channel/118">电冰箱</a></dd>
              </dl>
          </div>
          <div class="goods_type">
            <label>
              <a href="/channel/133">* 摄像机&gt;</a>
            </label>
              <dl class="sn-list">
                  <dd><a href="/channel/149">摄像机套机</a></dd>
                  <dd><a href="/channel/150">摄像机配件</a></dd>
              </dl>
          </div>
          <div class="goods_type">
            <label>
              <a href="/channel/132">* 照相机&gt;</a>
            </label>
              <dl class="sn-list">
                  <dd><a href="/channel/151">照相机套机</a></dd>
                  <dd><a href="/channel/152">照相机配件</a></dd>
              </dl>
          </div>
          <div class="goods_type">
            <label>
              <a href="/channel/116">* 办公用纸&gt;</a>
            </label>
              <dl class="sn-list">
                  <dd><a href="/channel/123">复印纸</a></dd>
              </dl>
          </div>
          <div class="goods_type">
            <label>
              <a href="/channel/131">* 办公自动化设备耗材&gt;</a>
            </label>
              <dl class="sn-list">
                  <dd><a href="/channel/139">硒鼓</a></dd>
                  <dd><a href="/channel/144">墨盒/墨水</a></dd>
                  <dd><a href="/channel/145">复印机粉盒/墨粉</a></dd>
                  <dd><a href="/channel/146">色带</a></dd>
              </dl>
          </div>
          <div class="goods_type">
            <label>
              <a href="/channel/188">* 视频会议系统设备&gt;</a>
            </label>
              <dl class="sn-list">
                  <dd><a href="/channel/189">专业音箱</a></dd>
                  <dd><a href="/channel/190">功放</a></dd>
                  <dd><a href="/channel/191">话筒</a></dd>
                  <dd><a href="/channel/192">DVD播放器</a></dd>
                  <dd><a href="/channel/193">数字音频处理器</a></dd>
                  <dd><a href="/channel/194">HDMI分配器</a></dd>
                  <dd><a href="/channel/195">HDMI切换器</a></dd>
              </dl>
          </div>
        <div class="goods_type">
          <label><a href="/product_shuts.html" rel="noopener noreferrer nofollow" target="_blank">已下架商品(已成交)</a></label>
        </div>
    </div>
