h2 { font-size:24px; }
tr.tc td { text-align:center; }
table.tblist td, td, th { padding: 2px; }
table.tblist td.note { padding: 5px; line-height:150%; }
div { position:relative; border: 1px solid #999; padding: 10px; max-width: 720px; margin: 10px auto; }
p { font-weight: bold; text-align: center; background: #CCC; border: 1px dashed #999; padding: 3px; margin: 5px 0px; } 
.notice { font-size:small; color:#F00; background:#FF9; padding:5px; }
td.tip { font-size:small; color:#F00; background:#FF9; padding:5px; }
.tblist td.msg { line-height:150%; text-align:left; font-size:small; padding:5px; }

table.cmpfile { width:100%; margin:auto; }
ol.cmpfile { width:340px; overflow-x:scroll; padding:10px 10px 10px 40px; }
ul.cmpfile { width:340px; overflow-x:scroll; padding:10px 10px 10px 8px; }
.cmpfile li { list-style:decimal; margin:1px; white-space:pre; word-break:keep-all; word-wrap:normal; word-spacing:normal; }
.cmpfile li.gray { background:#EEE; }
.cmpfile li span { white-space:pre; word-break:keep-all; word-wrap:normal; word-spacing:normal; }
.tnav { margin:auto; }
.tnav i{ width:110px; display:inline-block; text-align:center; margin:3px auto; font-style:normal; }
.tnav i.act{ }
.ntab { background:#FF9; }
.esql { width:670px; line-height:150%; overflow-x:scroll; white-space:pre; word-break:keep-all; word-wrap:normal; word-spacing:normal;}

.upgres{ width:98%; max-width:98%; margin:10px auto; padding:10px; }

.langbar { max-width: 720px; margin: 10px auto; padding:5px; border-bottom: 1px dashed #999; }
.langbar a { padding-right:5px; }
.langbar a:before { content:" ->"; }
