{block:extop}<?php
$title = 'Tools';
$act = req('act');
?>{/block:extop}<!DOCTYPE html><html><head>
<?php
$act = req('act');
if(empty($ptitle)) $ptitle = "$title - (sys_name)";
?>
{php $this->pmeta($ptitle); }
{php}
eimp('initJs','jquery;comm'); // ,bootstrap
eimp('initCss','stpub;comm;tools'); //bootstrap,
{/php}
{block:eximp}{/block:eximp}
</head><body>
{block:exbody}{/block:exbody}
<div class="tools_outer">
<p>
<a href="<?php tex('texBase')->uplog_furl() ?>" class="right" target="_blank">贴心猫 V{=$_cbase['sys']['ver']}发布</a>
<a href="{surl(tools)}" target="_blank">工具首页</a>
</p>
</div>
</body></html>
