{imp:"tools/a-lay"}<!--继承父模板-->

{block:extop}{:parent}<?php
$uip = req('uip'); 
if($uip){
  if(empty($_SERVER['HTTP_USER_AGENT']) || basEnv::isRobot()) { glbHtml::httpStatus(404); die(); }
}
$title = 'IP转化地址类（IPv4）';
$api = req('api',$_cbase['ucfg']['ipapi']); 
$ubase = surl($this->mkv); 
$ufix = $ubase.(strpos($ubase,'?')?'&':'?');
$vfix = "<input name='mkv' type='hidden' value='$this->mkv'>";

$ipObj = new extIPAddr($api);
$pclass = DIR_IMCAT.'/core/uext/extIPAddr.php';
if(strstr($act,'down')){
    $path = strpos($act,'Class') ? $pclass : DIR_IMPS.$pfont;
    comHttp::downLoad($path, basename($path)); 
}
$tab = '';
for($i=0;$i<3;$i++){
    $ipx = tex('texBase')->rndIP();
    $tab .= " # <a href='{$ufix}api=$api&uip=$ipx'>$ipx</a><br>\\n"; 
}
$astr = '';
$aarr = array('Local','Pcoln','Taobao','Api','Ip138','S1616','Baidu');
foreach($aarr as $key){
    $astr .= " # <a href='{$ufix}api=$key'>$key</a>\\n"; 
}

?>{/block:extop}

{block:eximp}{if empty($uip)}
<meta name="robots" content="index,nofollow" />
{else}
<meta name="robots" content="noindex,nofollow" />
{/if}{/block:eximp}

{block:exbody}
<div class="tools_outer">

<h3 class="tc"><?php echo $title;?></h3>

<h4 class="tl">### {=$title}说明：</h4>
<p>通过IP，转化为对应的地址。</p>
<p>使用了第三方IP地址库，感谢如下各接口提供者！</p>

<h4 class="tl">### Set API：------ {=$api}</h4>
<p>选择接口：<span id='idapi'></span>
<?php
if($uip){
    $addr = $ipObj->addr($uip);
    echo "<br>\n您的查询为： ($api) : $uip -=> $addr";
    echo "<br>\n".extIPAddr::inArea('CN', $uip);
    die();
}
?></p>

<h4 class="tl">### 随机IPs 演示：</h4>
<p><?php
if(!basEnv::isRobot()){
for($i=0;$i<3;$i++){
    $ipx = tex('texBase')->rndIP();
    $addr = $ipObj->addr($ipx);
    echo "$ipx : $addr<br>\n"; 
}}
?></p>

<h4 class="tl">### 测试IPs：------ 点击IP测试，或url中输入ip测试 </h4>
<p id='iptab'></p>

<h4 class="tl">### 下载/DIY：</h4> 
<p>打开：<a href="http://pan.baidu.com/share/home?uk=3191979020">百度云-网盘</a>，<br>
下载txmao-main.rar文件(本系统核心代码) 查看如下相关文件：</p>
<p>相关文件/夹：/imcat/adpt/ipapi/目录下各接口文件<br>
和文件：/imcat/core/elib/extIPAddr.php</p>

<h4 class="tl">### 问题/鸣谢：</h4>
<p>
 * 以上各接口提供方。<br>
 * @整理/整合 by Peace（QQ:8089-3510 , E-mail:xpigeon#163.com）<br>
 * @问题：目前都是基于IPv4，IPv6怎么办？
</p>

<?php 
$_cbase['tpl']['tplpend'] = "/*no js*/\n";
$js = "$('#iptab').html(\"$tab\");\n";
$js .= "$('#idapi').html(\"$astr\");";
$js = str_replace('<a href=','<"+"a "+"hr"+"ef=',$js);
echo basJscss::jscode($js);
?>
    
</div>
{/block:exbody}


