{block:init}{php}
namespace imcat;
$_cbase['ucfg']['lang'] = '(auto)';
basLang::auto();
{/php}{/block:init}<!DOCTYPE html><html><head>
<?php glbHtml::page('init',1); ?>
<title>{block:title}{/block:title}</title>
<?php
eimp('/base/cssjs/cinfo.css');
eimp('/base/jslib/jsbase.js');
?>
<style type="text/css">{block:hdcss}{/block:hdcss}</style>
</head><body class="divOuter"> 

<div class='header'>
<?php basLang::sopts(); ?>
<h2>{block:title}{/block:title}</h2>
</div>

<div class="main">{block:main}{/block:main}</div>

<?php
$rinfo = basDebug::runInfo();
if(basEnv::isMobile()) $rinfo = str_replace(array('Tpl:','Upd:'),array('<br>Tpl:','<br>Upd:'),$rinfo);
?>
<div class='footer'>
  <p>{=$rinfo}</p>  
</div>

</body></html>
