<!DOCTYPE html><html><head>
{php $this->pmeta($company); }
{php}
eimp('initJs','jquery;bootstrap;comm');
eimp('initCss','bootstrap,stpub,jstyle;comm'); 
{/php}

</head><body> 
{inc:"c_pub/ahead"}
{inc:"c_pub/amenu"}

<div class="row">
  <div class="col-md-9">
    <!--main_start-->

      <h1 class="news_title">{title($company,96,$this->vars)} --- {if $this->view=='news' }新闻{else}产品{/if}</h1>
      <div class="news_bar"> 添加:<i class="atime">{stime($atime,min)}</i> &nbsp; 
        点击<i id="jsid_field_{=$this->mod}:{=$uid}:click">{=$click}<!--,add1--></i>次 &nbsp; 
      </div>
      
      <div class="h10">&nbsp;</div>
      <h2>{=$this->view} (模板功能演示) ... 会员发布的{if $this->view=='news' }新闻{else}产品{/if}列表……</h2>
      <div class="h10">&nbsp;</div>
      
    <!--main_end-->
  </div>
  <div class="col-md-3">
    {inc:"corp/mem-side"}
  </div>
</div>

{inc:"c_pub/afoot"}
</body></html>
