
<div class="cont" id='cont_mobvc' style="display:none;">
    <form class="list1" id="fmmobvc" name="fmmobvc" onsubmit="return sndfMobvc('login')">
      <div class="row">
        <div class="col1 tc">图片码</div>
        <div class="col2 vcode">
          <input type="text" class="" id="vcode2" name="vcode" placeholder="验证码" x_onblur="chkTel('1')">
        </div>
        <div class="col3 vcode">
          <img src="<?=tpath(1)?>/aimg/loadbig.gif" id="mobvc_vimg" onclick="setVcode('mobvc')">
        </div>
      </div>
      <div class="row">
        <div class="col1 tc">手机号</div>
        <div class="col5">
          <input type="text" class="" id="mtel" name="mtel" xvalue="13537432147" placeholder="手机号" onblur="chkTel()">
        </div>
      </div>
      <div class="row">
        <div class="col1 tc">短信码</div>
        <div class="col3 vcode">
          <input type="text" class="" id="mcode" name="mcode" placeholder="请填入手机短信认证码">
        </div>
        <div class="col2">
          <button type="button" class="btn btn-gray" id='btnSms' onclick="sndfMobvc('smsg')">发短信</button>
        </div>
      </div>
      <div class="row">
        <div class="col2"></div>
        <div class="col2">
          <button type="submit" class="btn btn-act">登录</button>
        </div>
        <div class="col2"></div>
      </div>
    </form>
</div>
