
<div id='smenu' style="opacity:1;display:none">
    <div class="mask"></div>
    <div class="smenu smenu-right">
        <i class="fa fa-close close" onclick="opSmenu(0,'smenu')"></i>
        <div class="hd"><img src="<?=tpath(1)?>/logo/imcat-40x.png">设置中心</div>
        <div class="bd">
            {if $uflag && !empty($uimod)} <!--$uflag!='bind'-->
            <ul>
                <li><a href="{surl(uset-minfo)}">
                    <i class="fa fa-id-card"></i> 用户信息
                </a></li>
            </ul>
            {else}
            <ul>
                <li><a href="{surl(utmp-minfo)}">
                    <i class="fa fa-id-card"></i> 用户信息
                </a></li>
            </ul>
            {/if}
            {if strstr($udebug,$uname)}
            <ul>
                <li><a href="{surl(uset-rein)}"><!--replace-login-->
                    <i class="fa fa-user-secret"></i> 模拟登录
                </a></li>
            </ul>
            <ul>
                <li><a href="{surl(uset-cfgs)}">
                    <i class="fa fa-cog"></i> 设置中心
                </a></li>
            </ul>
            {/if}
            <ul>
                <li><a href="{surl(umc:0)}">
                    <i class="fa fa-random"></i> 工单(V2)
                </a></li>
            </ul>
        </div>
        <div class="ft">
            <a href="javascript:" class="btn gr3" onclick="opSmenu(0,'smenu')">关闭</a>
            -
            <a href="{surl(login-logout-dir)}" class="btn emp">登出</a>
        </div>
    </div>
</div>
