
<article class="" style="">
<div class="flex laybox">

    <div class="col1">
        <span class="nowrap ico-xxx">
            <b {if $actno=='1'}class="act"{/if}>1</b>
            <i class="fa fa-weixin"></i>
            多合一登录
        </span>
        <p>免密授权/短信/账密</p>
    </div>
    <div class="col1">
        <span class="nowrap ico-xxx">
            <b {if $actno=='2'}class="act"{/if}>2</b>
            <i class="fa fa-link"></i>
            绑定用户类型
        </span>
        <p>仅需1次/仅客户使用</p>
    </div>
    <div class="col1">
        <span class="nowrap ico-xxx">
            <b>3</b>
            <i class="fa fa-file-o"></i>
            报障及管理
        </span>
        <p>工单管理/自主报障</p>
    </div>

</div>
</article>

