{imp:"home/_layout"}

{block:head}
{php} $resume = '通用PHP建站系统'; {/php}
<title>{=$title} - {=$resume}</title>
<meta name='keywords' content='贴心猫(imcat):贴心猫,轻量免费,开源共享,PHP CMS,微信接口,Imcat,imcat'>
<meta name='description' content='贴心猫(imcat)一款轻量、免费、共享的通用PHP网站应用系统；App服务端-PC版-手机版-微信接口一站搞定！'>
{/block:head}

{block:catxx}

<div class="block"><div class="in">
    <h2><span class="tg1">v{=$_cbase['sys']['ver']}</span>贴心猫(imcat)</h2>
    <div>
        <p>一款PHP+MySQL架构设计的通用网站系统，简约、轻量、实用、免费、共享</p>
        <p>介于框架与CMS之间，也是一个实用的php工具包</p>
        <p>以面向应用为主，不纠结于OOP，不纠结于MVC，不纠结于设计模式，自由奔放</p>
        <p class="tc">
            <a href="http://imcat.txjia.com/chn.php">演示</a> -
            <a href="{=PATH_BASE}/home-tips">入门</a> -  
            <a href="http://custom.txjia.com/">文档</a> - 
            <a href="https://github.com/peacexie/imcat">Github</a> - 
            <a href="https://imcat.txjia.com/h5/pc.htm">App</a>
        </p>
    </div>
</div></div>

<div class="block"><div class="in">
    <h2><span class="tg1">扩展系统</span>基于贴心猫开发</h2>
    <div>
        <p>
            <a class="r" href="https://github.com/peacexie/imblog">下载</a>
            <a href="http://imblog.txjia.com">贴心博客</a>：
            包含 博客文章、心情墙、许愿墙、小语墙 
        </p>
        <p>
            <a class="r" href="https://github.com/peacexie/ourhouse">下载</a>
            <a href="http://ourhouse.txjia.com">爱窝房产</a>：
            为房产行业定制的通用系统，免费、开源、无加密、无限制！
        </p>
        <p>
            <a class="r" href="https://github.com/peacexie/cheerweb">下载</a>
            <a href="http://cheerweb.txjia.com/">开心企业网</a>：
            包含 中、英、法、俄、西班牙多语言展示，还可多语言DIY。
        </p>
        <p>
            <i class="r"><a href="http://txjia.com/">More</a></i>
            <span class="hid350">相关系统: </span>
            <a href="http://im3n.txjia.com/">至简生活</a> - 
            <a href="http://imblog.txjia.com/home.php?ftree">家族亲友树</a> - 
            <a href="http://imcat.txjia.com/dev.php?tools">贴心工具</a>
        </p>
    </div>
</div></div>

{/block:catxx}

{block:inner}

<div class="block"><div class="in">
    <h2><span class="tg1">tpl,tag</span>模板/标签</h2>
    <div>
        <p>模板: 模板继承,模板包含,跨分组调用</p>
        <p>移动适配: PC/移动端绑不同模板</p>
        <p>4x4x2标签即: 4类标签,4种数据,2种状态</p>
        <p>4类标签: 列表标签,分页标签,单条数据,类别列表</p>
        <p>4种数据: 文档/资讯,互动/评论,用户/会员,广告/连接</p>
        <p>2种状态: html常规标签, js动态标签</p>
    </div>
</div></div>

<div class="block"><div class="in">
    <h2><span class="tg1">可自由扩展</span>(默认)展示分组</h2>
    <div>
        <p><i class="r"><a href="./root/run/adm.php">adm</a></i>管理中心: 您的网站您做主！</p>
        <p><i class="r"><a href="./root/run/rest.php">rest</a></i>REST-API: 为App/Api提供服务端资料！</p>
        <p><i class="r"><a href="./chn.php">chn</a></i>经典PC版: 经典PC版,主要展示版本</p>
        <p><i class="r"><a href="./dev.php">dev</a></i>文档: 文档/手册为您指点迷津</p>
        <p><i class="r"><a href="./mob.php">mob</a></i>手机版: 精简移动端展示模块</p>
        <p><i class="r"><a href="./root/run/umc.php">umc</a></i>会员中心: 用户订单/公文/问答</p>
    </div>
</div></div>

<div class="clear"></div>

<div class="block"><div class="in">
    <h2><span class="tg1">module/lang</span>模型/多语言</h2>
    <div>
        <p><i class="r">+无限扩展</i>文档/资讯: 商品展销/新闻/专题/课程资源/样例文档/内部公文/问答系统</p>
        <p><i class="r">+无限扩展</i>用户/会员: 企业会员/政府机构/非盈利组织/个人会员/管理员</p>
        <p><i class="r">+无限扩展</i>类别/系列: 镇区/省市/国家/品牌/行业/民族/部门/年级/课程…</p>
        <p><i class="r">+无限扩展</i>Ftp存储/Sphinx检索/微信/短信/ip地址/地图/支付</p>
        <p><i class="r">+自定义添加</i>多语言: 默认中英两种语言包（自v3.3+开始），
        语言包覆盖php脚本，html模板，js文件。</p>
    </div>
</div></div>

<div class="block"><div class="in">
    <h2><span class="tg1">theory/feature</span>理念/特色</h2>
    <div>
        <p>开源理念：尊重版权,共享技术,努力打造安全高效和谐的web应用系统！</p>
        <p>遵循MIT开原协议,共享于各种合法用途！</p>
        <p>以面向应用为主,不纠结于OOP,不纠结于MVC,不纠结于设计模式,自由奔放！</p>
        <p>特色: 字段内容存文件, mkv路由, 类别关联, 缓存, 静态…</p>
        <p>无限自定义: 模型/字段/参数/分类/语言包…</p>
        <p>极轻极简: 您可把他仅当成一个工具包!</p>
    </div>
</div></div>

{/block:inner}
