<!DOCTYPE html><html><head>
{code:"home/cfgs.php"}
{php $this->pmeta('入门文档 - DIY'); }
{php}
eimp('initJs','jquery');
eimp("/bootstrap/css/bootstrap.min.css",'vendui'); 
{/php}
<style type="text/css">
  body,html,div,p{ line-height:200%; }
  .right{ float:right; }
  .footer{ text-align:center; border-top:1px solid #CCC; padding:1rem 0 2rem 0; }
  .help{ font-size:larger; text-align:center; padding:1rem; margin:1rem; }
</style>

</head><body>

<div class="container">

  <ol class="breadcrumb">
    <li class="right">
      系统介绍 | 
      安装指南 | 
      模板指引
    </li>
    <li class="hidden-xs"><a href="{=PATH_PROJ}/">{=$title}</a></li>
    <li><a href="http://txjia.com/imcat/dev.php" target="_">入门文档</a></li>
  </ol>

  <div class="row">
    <div class="col-sm-6">
      {inc:"home/tip-about"}
      <nav>
        <ul class="pager">
          <li><a href="http://txjia.com/imcat/dev.php?info-help" target="_blank">捐赠贡献</a></li>
          <li><a href="http://txjia.com/imcat/dev.php?info-service" target="_blank">为您服务</a></li>
        </ul>
      </nav>
      {=$texts['start']}
    </div>

    <div class="col-sm-6">
      {=$texts['tpdiy']}
    </div> 
  </div>

  <footer class="footer tc">
    <p>
      {php echo basDebug::runInfo(); }
    </p>
  </footer>

</div><!-- /.container -->

</body></html>

