/* CSS Document */

.pgu_logo, .pgu_lowie, .pgu_login, .pgu_lscan, .pgu_tips, .pgu_applay{ width:680px; border:1px solid #CCC; padding:2px; margin:10px auto; font-size:14px; }

.pgu_logo .logo{ width:120px; height:60px; padding:5px; float:right; background-image:url(../../a_img/logo120x60.jpg); background-position:center; background-repeat:no-repeat; }
.pgu_logo .title{ width:450px; height:60px; padding:5px; float:left; }
.pgu_logo h3{ font-size:18px; text-align:center; color:#333; padding:1px; margin:1px;}
.pgu_logo h1{ font-size:14px; color:#09C; padding-left:20px; margin:1px;}

.pgu_login, .pgu_lscan{ background-image:url(../../a_img/line_h1.jpg); background-position:360px -180px; background-repeat:no-repeat; } 
.pgu_login p{ padding:5px; line-height:150%; }
.pgu_lscan p{ padding:5px; }
.pgu_login p.button{ padding:5px 20px 0 85px; }
.pgu_login .apply, .pgu_lscan .apply{ width:280px; padding:10px; float:right; }
.pgu_login .apply p{ padding:4px; }
.pgu_login .login{ width:360px; padding:15px; float:left; }
.pgu_lscan .login{ width:360px; padding:0px; float:left; }
.pgu_login .msg{ font-size:14px; color:#F00; text-align:center; padding:20px 0; }
.login i { font-style:normal; }

div.apform p { padding:5px 1px; }
div.apform i, div.login i { font-style:normal; display:inline-block; width:85px; padding-left:15px; }
span.submit { display:inline-block; float:right; padding-right:150px; }

.pgu_tips div.tipu{ background:#FFC; padding:10px 10px; line-height:180%; }
.pgu_tips div.tipu p{ list-style:disc; list-style-position:outside; padding:2px 5px; }
.pgu_tips div.tips{ padding:10px 10px; }
.pgu_tips div.tips p{ list-style:disc; list-style-position:outside; padding:2px 5px; }
