{block:minit}{php}
$user = usrBase::userObj('Member'); 
$key = $this->ucfg['key'];
$key = empty($key) ? 'login' : $key;
$act = req('act');
$recbk = req('recbk');
$recbk=='ref' && $recbk = $_SERVER['HTTP_REFERER'];
$karr = basLang::ucfg('cfgbase.user_ops');
$kname = isset($karr[$key]) ? $karr[$key] : "($key)";
$ultypes = read('user.logintypes','sy');
$mdtitle = lang('user.pub_cuser');
{/php}{/block:minit}
<!DOCTYPE html><html><head>
{php $this->pmeta($kname.'-'.$_cbase['sys_name']); }
{php}
eimp('initJs','jquery,bootstrap;comm;comm(-lang);user');
eimp('initCss','bootstrap,stpub,jstyle;comm(-mob);user(-mob)'); 
glbHtml::page('aumeta');
{/php}
{block:pimp}{/block:pimp}
</head><body>

{block:head}{inc:"c_pub/m-head"}{/block:head}

{block:brnav}
<ol class="breadcrumb">
  <li><a href="{surl(0)}">{=$mdtitle}</a></li>
  <li class="active">{=$kname}</li>
</ol>
{/block:brnav}

<div class='container'>
<div class="h15 clear">&nbsp;</div>
{block:main}
main
{/block:main}
<div class="h15">&nbsp;</div>
</div>

{block:foot}{inc:"c_pub/m-foot"}{/block:foot}

</body></html>

{block:exend}
{/block:exend}
<!--`{php echo basDebug::runInfo(); }`-->
