/* CSS Document */

.cst-out { width: 960px; margin: 10px auto; border:1px solid #CCC; background-color: #F3F3F3; border-collapse:inherit; 
  border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; }
.cst-out td { font-size:14px; vertical-align:top; padding:0px; margin:0px; }
.cst-title1, .cst-title2 { text-align:left; width:200px; line-height:30px; font-size:16px; padding:3px 8px 3px 3px; 
  background: #D8D8D8; }
.cst-title1 i, .cst-title2 i { font-size:12px; }
.cst-title2, { border-top:1px solid #666; }
.cst-navtop { text-align:left; width:760px; padding:0px; margin:0px; border-left:1px solid #E0E0E0;
 background: #eaeaea; background: -webkit-gradient(linear, left top, left bottom, from(#F4F4F4), to(#E5E5E5), color-stop(0.1, #F3F3F3), color-stop(0.5, #ECECEC), color-stop(0.9, #E8E8E8), color-stop(1.0, #E5E5E5)); background-image: -moz-linear-gradient(top, #F3F3F3 10%, #ECECEC 50%, #E8E8E8 90%, #E5E5E5 100%); }
td.cst-navtop a { display: inline-block; height: 35px; line-height: 35px; padding: 0px 18px; margin:0px; border-right:1px solid #CCC; }
td.cst-navtop a.act, .cst-navtop a:hover { background: #FFF; color: #F00; border-left:2px solid #0f0; }
td.cst-main { background: #FFF; padding:15px; border-left:1px solid #E0E0E0; }
td.cst-main dt{ margin:2px 0px 3px 0px; }
td.cst-main dd { padding:0px 0px 10px 0px; margin:0px 0px 10px 0px; border-bottom:1px solid #DDD; }
td.cst-footer { font-size:x-small; text-align:center; background: #EBEBEB; padding:8px 20px; border-top:1px solid #DDD; }
.cst-types { background: #F4F4F4; padding:0 0 10px 0; }
.cst-types a { display:block; padding:8px 10px; border-bottom:1px solid #CCC; }
.cst-types a.act, .cst-types a:hover { background: #FFF; color: #F00; border-left:2px solid #0f0; }
.cst-types a i { display:inline-block; font-size:small; color:#999; padding:0px 0px 0px 3px; }
.cst-tags { background: #F4F4F4; padding:10px 0 0 0px; }
.cst-tags a { display:inline-block; background: #EBEBEB; padding:5px; margin:0px 2px 10px 7px; border:1px solid #DDD; }
.cst-tags a.act, .cst-tags a:hover { color: #F00; background:#FFF; }
div.cst-tag1 { background: #F4F4F4; padding:0; margin:5px 0; }
div.cst-tag1 a { display:inline-block; background: #EBEBEB; padding:2px 5px; margin:0px 10px 0 0; border:1px solid #DDD; }
div.cst-tag1 a.act, div.cst-tag1 a:hover { color: #F00; background:#FFF; }

i.sct-qa-icon { margin:0px 0 0 0; padding:0px 0px; border:0px solid #FFF; }
dl.sct-qa-tags { }
dl.sct-qa-tags dt{ float:left; font-weight:normal; display:inline-block; background: #F4F4F4; padding:2px 10px; margin:0px 10px 10px 0; border:1px solid #DDD; }
dl.sct-qa-tags dt:hover { color: #F00; background:#FFF; }

.news_rem .rembar { margin: 10px 0px; }
.news_rem dl dt { font-weight:normal; border-bottom:1px dashed #DDD; }
.news_rem dl dt span { font-weight:normal; }

.news_text h1, .news_text h2, .news_rem h1, .news_rem h2{ text-align:center; color:#036; }
.news_text h1, .news_rem h1{ font-size:24px; background:#EEE; }
.news_text h2, .news_rem h2{ font-size:18px; }

.news_text h3, .news_text h4, .news_rem h3, .news_rem h4{ text-align:left; color:#036; font-weight:bolder; padding:5px 0px; }
.news_text h3, .news_rem h3{ font-size:16px; }
.news_text h4, .news_rem h4{ font-size:14px; }
.news_text h3:before, .news_rem h3:before { content:"◎◎ "; color:#036; }
.news_text h4:before, .news_rem h4:before{ content:"◙ ◙ ◙ ◙ "; color:#036; } 

.news_text h5, .news_text h5, .news_rem h6, .news_rem h6{ font-weight:bolder; }

.news_text ul, .news_rem ul { margin:10px 0px; }
.news_text ul, .news_text li, .news_rem ul, .news_rem li { list-style:disc inside; }
.news_text li ul, .news_rem li ul { margin:0px 20px 10px 40px; }
.news_text li ul li, .news_rem li ul li { list-style:circle; }