<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name='viewport' content='width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no'>
<title>WAP版：模型首页</title>
{php}
eimp('initJs','jquery;comm');
eimp('initCss','stpub;comm-mob'); 
{/php}
</head>
<body>
{inc:"mtpl/inc-mhead"}

<div class="mtpl-logo">
</div>

    <nav>
        <li><a href="{surl(mtpl)}">mtpl-Index</a></li>
        <li><a href="{surl(mtpl-about)}">mtpl-About</a></li>
    </nav>

    <hr class="mv20">

    <h3>Hello：移动适配演示！</h3>
    <p>&nbsp;</p>
    <p>现在是WAP版模板！！！</p>
    <p>移动适配：url保持不变，移动设备自动找`-mob`后缀的模板!</p>

{inc:"mtpl/inc-mfoot"}
</body>
</html>
