<div class="umc_cont umc_foot">
  <p class="umc_flink">
  <a href="{surl(comm:0)}">(chn)中文版</a>    
  <a href="{surl(comm:news);}">{lang(user.nv4_news)}</a>
  <a href="{surl(comm:cargo);}">{lang(user.nv4_pro)}</a>
  <a href="{surl(comm:topic);}">{lang(user.nv4_spe)}</a>
  <a href="{surl(comm:keres);}">{lang(user.nv4_res)}</a>
  <a href="{surl(mob:0)}">(mob)手机版</a>
  </p>
  <p class="umc_finfo">Copyright © 2011-2018 xxxxx.com All rights reserved. 粤ICP备xxxxxxxxxxxx号.</p>
  <p class="umc_finfo">{php echo basDebug::runInfo(); }</p>
</div>
