/* CSS Document */

.hdhome { padding:5px 5px 5px 5px; margin:0px auto 5px auto;  
	background: -webkit-linear-gradient(top, #fff, #c4e2f6);
	background: -ms-linear-gradient(top, #fff, #c4e2f6);
	background: linear-gradient(top, #fff, #c4e2f6);
}

.hdhome img { border-radius:3px; }

.hdhome h1 { font-size:larger; font-weight:bold; white-space:nowrap; padding:12px; margin:0px; 
	
}

li { }

.home-adpic02 { width:100%; padding:0px 10px; margin:0px; }
.home-adpic02 li{ padding:0px; margin:0px; list-style:none; }
.home-adpic02 li p{ text-align:center; padding:5px 0px; border-bottom:0px solid #CCCCFF; }

.home-title { padding:10px 10px 5px 10px; 
	background:-webkit-linear-gradient(top, #c4e2f6, #fff);
	background:-ms-linear-gradient(top, #c4e2f6, #fff);
	background:linear-gradient(top, #c4e2f6, #fff);
}
