{imp:"c_pub/alay_main"}<!--继承父模板-->

{block:extop}
{code:"dev:d_uplog/a_cfgs"}
<?php 
$_bkey = $this->key ? 'vlog' : 'home'; 
$file = empty($this->key) ? 'readme' : "v".intval($this->key).'.x';
$key = empty($this->key) ? 'readme' : $this->key;
$subs = tex('texBase')->docer("d_uplog/$file");
if(empty($subs)){ $this->msg('还未发布！'); }
$sub = req('sub',''); 
$verflag = $cfgs[$key][1];
$titlesub = $titletop = '版本发布';
$titletop .= ' '.$verflag; ;
$titlesub = $_cbase['sys_name'].' '.$titlesub;
?>
{/block:extop}

{block:exbar}
    <?php foreach($subs as $k=>$v){ $title = $_bkey=='home' ? $v['title'] : $k; ?>
    <a href="#s_{=$k}">{=$title}</a>
    <?php } ?>
{/block:exbar}

{block:exmain}
    
    <?php foreach($subs as $k=>$v){ ?>
    <ul id="s_{=$k}" class="mod-section mod-uplog">
      <li class="type">{=$k}{=$v['title']} <span class="right">--- <a href="#">[Top]</a></span></li>
      {=$v['detail']}
    </ul>
    <div class="h10">&nbsp;</div>
    <?php } ?>

{/block:exmain}
