<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="import.htaccess">
                    <match url="^(entry1|entry2)/([\w|\.|\-]*)$" ignoreCase="false" />
                    <action type="Rewrite" url="{R:1}.php?{R:2}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
