
<!DOCTYPE html>
<html>
<head>
{inc:"incs/login~imps"}
<title><?=$title='设置中心'?> - {=$_cbase['sys_name']}</title>
<style type="text/css">
.grc2, .grc3, .grc4{ text-align:center;border:1px dotted #EEE; padding:0.5rem 0.1rem; margin-bottom:0.5rem; }
</style>
</head>
<body>


<header>
    <!--a href="/imcat/hi.php/weys-pc" class="btn">Pc</a-->
    <a href="{surl(login)}" class="fa fa-mail-reply"></a>
    <div class="logo">
        <img src="{if empty($uinfo['mpic'])}{=$null['mpic']}{else}{=$uinfo['mpic']}{/if}" style="max-width:32px"> <?=$title?>
    </div>
</header>


<article class="">

    <div class="grid">
        <div class="grc3"><a href="#{surl(uset-rein)}">系统会员</a></div>
        <div class="grc3"><a href="#{surl(uset-rein-demo)}">测试会员</a></div>
        <div class="grc3"><a href="#{surl(uset-rein-wework)}">企业会员</a></div>
    </div>

    <p class="info">设置中心 ● 暂时无需设置操作</p>

    <form class="list1" id="fmrein" name="fmrein" method="post" onsubmit="return chkRein('fmrein')">
      <input type="hidden" name="view" value="{=$view}">

      <div class="row">
        <div class="col1 tc">当前账号</div>
        <div class="col5">
          <?=$uimod['uname']?> / <?=$uimod['mname']?>
        </div>
      </div>

      <!--
      <div class="row">
        <div class="col1 tc">XX账号</div>
        <div class="col5">
          <input type="text" id='uname' name="uname" value="" _pat='@' pattern="^[\dA-Za-z_.\-]{5,15}$" title="5-15字符" placeholder="新账号">
        </div>
      </div>
      <div class="row">
        <div class="col2"></div>
        <div class="col2">
          <button type="submit" class="btn btn-act">XX登录</button>
        </div>
        <div class="col2"></div>
      </div>
      <div class="row" id='row_load' style="display:none;">
        <div class="col5">
          <img src="<?=tpath(1)?>/aimg/loadbig.gif" class='loading'>
        </div>
      </div>
      -->

    </form>

    <p></p>

</article>

<div id="dtip1" style="opacity:1;display:none">
    <div class="mask"></div>
    <div class="toast">
        <i class="fa fa-warning error"></i>
        <i class="fa fa-check-square-o okey"></i>
        <div class="text">{MSG}</div>
    </div>
</div>


{inc:"incs/login~foot"}

</body>
</html>

<script src="<?=tpath(0,0)?>/uset/cfgs.js"></script>
<script>
var data = {},
    saveUrl = '<?=surl("uset-docfgs")?>?_r=';
$(function(){
    return;
});
</script>
