
    <p class="info">注销账号 ● 提示：这里是千言万语要挽留的话...</p>

    <form class="list1" id="fmudel" name="fmudel" method="post" onsubmit="return chkUdel('fmudel')">

      <div class="row">
        <div class="col1 tc">账号</div>
        <div class="col5">
          <?=$uimod['uname']?>
        </div>
      </div>
      <div class="row">
        <div class="col1 tc">姓名</div>
        <div class="col5">
          <input type="text" id='mname' name="mname" value="" >
          <span>请输入： <span class="emb">{=$uimod['mname']}</span> 提交确认。</span>
        </div>
      </div>

      <div class="row">
        <div class="col2"></div>
        <div class="col2">
          <button type="submit" class="btn btn-act">确认</button>
        </div>
        <div class="col2"></div>
      </div>

      <div class="row" id='row_load' style="display:none;">
        <div class="col5">
          <img src="<?=tpath(1)?>/aimg/loadbig.gif" class='loading'>
        </div>
      </div>

    </form>
