
body{ background:#FFF; border:0px; padding:0px; margin:0px; }
body, td, input, textarea, select, button{ color:#333; line-height:150%; font:normal "Lucida Grande", Verdana, Lucida, Helvetica, Arial, 'Simsun', sans-serif; }
ul, li, dl, dd, p, h1, h2, h3, h4, h5, h6, hr, form, fieldset { line-height:150%; margin:0; padding:0; }
li{ list-style:none; }

a { color: #134D9D; text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; cursor: pointer; }
a.cur { color: #C00; }


.head-link{ float:right; padding-top:10px; white-space:nowrap; }
.head-h1{ height:57px; white-space:nowrap; }
.head-h1 small{ overflow:hidden; text-overflow:ellipsis; }

.foot { width:100%; max-width:1140px; margin:20px auto; padding: 10px 0px; clear: both; text-align: center; background-image: url(../../../skin/_pub/a_img/dg.gd.png); background-position: 0px -140px; }
.foot p.note, .foot p.copy, .foot p.info { font-size:small; color:#666; }
.foot p.note { color:#963; }
.foot .fnav { padding: 10px 0px 5px 0px; }
.foot .fnav a { display: inline-block; padding: 0px 5px; }
.foot .fnav a.act { text-decoration: underline; color: #F0F; }


.mod-home { width:100%; line-height:100%; float:left; margin-top:10px; }
.mod-home .type { font-weight: bold; font-style: normal; text-align: center; display: block; padding: 0px 0px 5px 0px; margin: 0px 0px 5px 0px; border-bottom: 1px solid #CCC; }
.mod-home .title { font-style: normal; display: block; padding: 3px 0px 3px 0px; }
.mod-home i.atime, .mod-home i.click { display: inline-block; padding: 0px 2px; }


.side .type { padding:5px; margin:3px; border-bottom:1px dashed #CCC; }
.side .act{ background:#FFC; }


/* title */
h3 { font-size: 14px; font-weight:bold; color: #036; margin:10px 0 5px 20px ; }
.spectitle { border-bottom: 1px dashed #F66; }

.news_text, td.news_text, td.news_text p, div.news_text, div.news_text p { font-size:14px; line-height:150%; padding:10px; }
h1.news_title { text-align: center; font-family: "Microsoft YaHei", "黑体"; font-size: 18px; margin: 0px 0px 10px 0px; }
.news_bar { text-align: center; background: #CCC; padding: 5px; margin: 5px; }
.news_rem .rembar { text-align:left; background: #DDD; padding: 8px; margin: 10px 5px; }
.news_rem .remadd { display:inline-block; float:right; text-align:center; background: #FFF; padding:1px 5px; }
.news_rem .remtitle { display:block; }
.news_rem dt { border-bottom:1px solid #CCF; padding:0px 0px 10px 0px; margin:0px 0px 10px 0px; }
.news_rem dt span{ font-size:14px; font-weight:bold; color:444; }
.news_rem dl { display:block; border:1px solid #CCC; padding:10px; margin:10px; }

.sd-adv60 { text-align:center; padding:5px; border:1px solid #EEE; }
.sd-stype { width:100%; padding:10px; margin:auto; border:1px solid #CCC; }
.sd-so01 { width:250px; text-align:center; white-space:nowrap; padding:10px; margin:auto auto 10px auto; border:1px solid #CCC; }
.sd-so01 select { display:block; margin:0px 10px 10px 10px; }


.qrcode_tip, .qrcode_pic { display:inline-block; font-style:normal; font-weight:normal; }
.qrcode_tip { position:relative; cursor:pointer; margin:0px 10px 0px 0px; border-radius:5px; }
.qrcode_pic {
    position: absolute; background:#FFF; 
    top: 23px; left: 0px; text-align:center;
    padding:5px; border:1px solid #CCC;
    z-index: 1024;
}


.mod-tbar { background:#EEE; max-height:40px; overflow:hidden; padding:10px; margin: 0px 0px 10px 0px; border:1px solid #CCC; }
.mod-tbar i { font-style: normal; line-height:23px; }
.mod-tbar i.title { font-weight:bold; }
.mod-tbar a.act { color:#F00; }
.mod-tbar i a { display: inline-block; padding: 0px 5px; }

.mod-section { border: 1px solid #CCC; padding: 10px; margin: 0px 0px 10px 0px; }
.mod-section li{ margin: 5px 1px; }
.mod-section .type { font-weight: bold; font-style: normal; display: block; padding: 0px 0px 5px 0px; margin: 0px 0px 5px 0px; border-bottom: 1px solid #CCC; }
.mod-section .title { font-style: normal; display: block; padding: 3px 0px 3px 0px; }
.mod-section .bright { float:right; width:480px; }
.mod-section i.atime, .mod-section i.click { display: inline-block; padding: 0px 2px; }

.mod-section .iframe{ width:880px; margin:auto; }

.pg_bar{ margin:auto; text-align:center; }
.pg_bar .pagination li a{ margin:0 5px; }
.pg_bar .pagination li input{ width:60px; }

.mod-uplog h2{ font-size:16px; border-top:2px solid #CCC; padding:10px 0; margin:10px; border-bottom:1px dotted; }
.mod-uplog h2:first-of-type{ border-top:0px; }


/* tools,extend*/
.resume-title { margin:auto; text-align:center; }
.resume-list { width:640px; max-width:640px; margin:auto; }
.resume-list dt { margin-bottom:5px; }
.resume-list dt a { font-size:large; }
.resume-list dt i, .resume-list dt b { font-style: normal; display: inline-block; padding: 0px 3px 0px 3px; }
.resume-list dt i.atype { color:#666; white-space:nowrap; }
.resume-list dt i.atime { color:#666; }
.resume-list dt { width: 100%; font-weight:normal; } 
.resume-list dd { width: 100%; font-size:small; color:#666; border-bottom:1px dashed #CCC; padding: 0px 10px 10px 3px; margin:5px 0px 10px 5px; }
.resume-list dd i, .resume-list dd b { font-style: normal; display: inline-block; padding: 0px 3px 0px 3px; }
.resume-list dd i.click { width: 18%; text-align:left; white-space:nowrap; }
.resume-list dd i.price { width: 18%; text-align:left; white-space:nowrap; }

@media only screen and (max-width:767px) {
    .resume-list { width:100%; }
    .resume-title { font-size:large; padding:20px 0; }
}

