
body{ background:#FFF; border:0px; padding:0px; margin:0px; }
body, td, input, textarea, select, button{ color:#333; line-height:150%; font:normal "Lucida Grande", Verdana, Lucida, Helvetica, Arial, 'Simsun', sans-serif; }
ul, li, dl, dd, p, h1, h2, h3, h4, h5, h6, hr, form, fieldset { line-height:150%; margin:0; padding:0; }
li{ list-style:none; }

a { color: #134D9D; text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; cursor: pointer; }
a.cur { color: #C00; }

/* title */
h3 { font-size: 14px; font-weight:bold; color: #036; margin:10px 0 5px 20px ; }
.spectitle { border-bottom: 1px dashed #F66; }
.pgf_w { width: 1200px; margin: 0px auto; }
.pgf_header { height: 80px; background: #FFF; padding-top: 10px; }
.pgf_logo { width: 140px; height: 60px; text-align:left; padding-left:5px; float: left; display: inline-block; }
.pgf_topbar { width: 620px; height: 60px; float: left; display: inline-block; }
.pgf_topbar i.notice { font-style:normal; text-align:center; padding:5px 3px; margin-top:3px; display: block; background:#EEE; border-radius:5px; }
.pgf_lang { width: 220px; height: 60px; float: right; display: inline-block; text-align:center; line-height:200%; }
.pgf_lang select{ padding:5px 1px 4px 10px; }
.pgf_mtop { width: 210px; height: 60px; line-height:150%; text-align:left; font-size: 14px; float:left; display: inline-block; background:#EEE; padding:8px 10px; margin-left:10px; border-radius:5px; position:relative; }
.pgf_menu { width: 1198px; margin: 0px auto; height:35px; border: 1px solid #3A6EA5; border-radius: 3px; margin-bottom: 10px; background-image: url(../../../skin/_pub/a_img/nv_02.png); background-position: 0px 1px; }
.pgf_m1f { width: 960px; float: left; display: inline-block; padding-left: 10px; }
.pgf_m1b { float: right; display: inline-block; padding-right: 10px; }
.pgf_m1f li, .pgf_m1b li { line-height: 32px; text-align: center; float: left; display: inline-block; padding: 0px 5px; margin: 0px 5px; }
.pgf_m1f li.act, .pgf_m1b li.act { background: #FFF; border-top: 1px solid #CCC; }
.pgf_m1f li.gray, .pgf_m1b li.gray { color: #333; background: #CCC; }
.pgf_m1f li:hover, .pgf_m1b li:hover { background: #FFF; }
.pgf_mid { width: 1198px; margin: 0px auto; background: url(../../../skin/_pub/a_img/box1_h.png) repeat-y 880px 0; border: 1px solid #3A6EA5; border-radius: 3px; }
.pgf_main { width: 930px; padding: 10px 1px 10px 10px; min-height: 360px; }
.pgf_mcon { width: 910px; padding: 10px 1px 10px 10px; min-height: 360px; }
.pgf_side { width: 260px; float: right; margin-right: 5px; }

.pgf_footer { width: 1196px; margin:5px auto 5px auto; padding: 10px 0px; clear: both; text-align: center; background-image: url(../../../skin/_pub/a_img/dg.gd.png); background-position: 0px -140px; }
.pgf_blink { padding: 10px 0px 5px 0px; }
.pgf_blink a { display: inline-block; padding: 0px 5px; }
.pgf_blink a.act { text-decoration: underline; color: #F0F; }
.pgf_footer p.note, .pgf_footer p.copy, .pgf_footer p.info { font-size:small; color:#666; }
.pgf_footer p.note { color:#963; }

.mod-home { width: 447px; height: 190px; overflow: hidden; line-height: 100%; float: left; border: 1px solid #999; padding: 10px; margin: 0px 10px 10px 0px; }
.mod-home .type { font-weight: bold; font-style: normal; text-align: center; display: block; padding: 0px 0px 5px 0px; margin: 0px 0px 5px 0px; border-bottom: 1px solid #CCC; }
.mod-home .title { font-style: normal; display: block; padding: 3px 0px 3px 0px; }
.mod-home i.atime, .mod-home i.click { display: inline-block; padding: 0px 2px; }

.news-list { width:100%; }
.news-list dt, .news-list dd { height:30px; border-bottom:1px dashed #F0F0F0; margin-bottom:5px; }
.news-list dt { width: 65%; float: left; font-weight:normal; } 
.news-list dd { width: 34%; float: right; text-align:right; }
.news-list dd i, .news-list dd b { font-style: normal; display: inline-block; padding: 0px 3px 0px 3px; }
.news-list dd i.click { width: 18%; text-align:left; white-space:nowrap; }
.news-list dd i.atime { white-space:nowrap; }
.news-list dd i.atype { white-space:nowrap; }
.news-list dd i.price { width: 18%; text-align:left; white-space:nowrap; }

.news-tbar { background:#EEE; padding:5px 10px; margin:5px 0px 20px 0px; border:1px solid #CCC; }
.news-tbar i { font-style: normal; }
.news-tbar i.title { }
.news-tbar i a { display: inline-block; padding: 0px 5px; }

.news_text, td.news_text, td.news_text p, div.news_text, div.news_text p { font-size:14px; line-height:150%; padding:10px; }
h1.news_title { text-align: center; font-family: "Microsoft YaHei", "黑体"; font-size: 18px; margin: 0px 0px 10px 0px; }
.news_bar { text-align: center; background: #CCC; padding: 5px; margin: 5px; }
.news_rem .rembar { text-align:left; background: #DDD; padding: 8px; margin: 10px 5px; }
.news_rem .remadd { display:inline-block; float:right; text-align:center; background: #FFF; padding:1px 5px; }
.news_rem .remtitle { display:block; }
.news_rem dt { border-bottom:1px solid #CCF; padding:0px 0px 10px 0px; margin:0px 0px 10px 0px; }
.news_rem dt span{ font-size:14px; font-weight:bold; color:444; }
.news_rem dl { display:block; border:1px solid #CCC; padding:10px; margin:10px; }

.pro-table {}
table.pro-table { border:1px solid #999; }
table.pro-table td:hover { border:1px solid #25F; }
.pro-table p.picbox { width:220px; height:150px; padding:10px 0px 0px 0px; margin:auto; }
.pro-table p img { }
.pro-table p.title { font-weight:bold; line-height:120%; text-align:center; padding:0px 5px 10px 5px; }
.pro-table p.detail { font-size:medium; color:#666; padding:8px 10px 8px 10px; }
.pro-table p.detail i { font-style: normal; display: inline-block; white-space:nowrap; }
.pro-table p.detail i.click { float:right; }
.pro-table p.detail i.price { float:left; color:#25f; font-weight:bold; }

h1.pro_title { text-align: center; font-family: "Microsoft YaHei", "黑体"; font-size: 18px; margin: 0px 0px 10px 0px; }
.pro_bar { text-align: center; background: #CCC; padding: 5px; margin: 5px; }
.pro-resume, .pro-detail { width:900px; margin:0px 0px 0px 5px; border:1px solid #CCC; }

div.sobar p { padding:3px 1px; }
div.sobar p b{ color:#666; font-weight:normal; padding-right:5px; }
div.sobar p a{ display:inline-block; padding:0px 5px; }
div.sobar p a.act{ background-color:#06F; color:#FFF; }
div.soline { height:36px; border-bottom:1px solid #CCC; border-top:1px solid #CCC; padding:2px 3px; margin:5px 0px; }
div.sobar p.keys{ width:65%; float: left; display: inline-block; }
div.sobar p.order{ text-align:right; float: right; display: inline-block; }

.sobar p.order a, .sobar p.sokeys a{ font-style:normal; text-align:center; float:left; border:1px solid #CCC; background:url(../../../skin/_pub/a_img/soicon.gif) no-repeat 0 -74px; padding:0 20px 0 5px; margin:0 0 0 5px; }
.sobar p.order a.odesc{ color:#F30; background-position:right -460px; }
.sobar p.order a.oasc{ color:#F30; background-position:right -491px; }
.sobar p.order a.ondesc{ background-position:right -460px; }
.sobar p.order a.onasc{ background-position:right -491px; }
.sobar p.order a.def{ padding: 0 12px; background:none; }
.sobar p.order a.def-act{ color:#F30; padding: 0 12px; background:none; }
.sobar p.sokeys a.soclear{ background-position:right -413px; float:none; }

.sd-adv60 { height:60px; text-align:center; padding:10px 0px; margin:1px auto 10px auto; }
.sd-stype { width:250px; padding:10px; margin:auto; border:1px solid #CCC; }
.sd-so01 { width:250px; text-align:center; white-space:nowrap; padding:10px; margin:auto auto 10px auto; border:1px solid #CCC; }
.sd-so01 select { display:block; margin:0px 10px 10px 10px; }

.sd-mkeys { padding: 0px 5px 0px 5px; }
.sd-mkeys li { margin: 1px 0px 0px 0px; text-align: center; padding: 2px 0 2px 10px; background-image: url(../../../skin/_pub/a_img/nv_02.png); background-position: -45px -95px; }
.sd-mkeys li a.act { color:#F00; }
.sd-mkeys li:hover a { color:#F00; }
.sd-mkeys li { }
.sd-hinfo { padding: 0px 5px 0px 5px; }
.sd-hinfo li { margin: 1px 0px 0px 0px; padding: 2px 0 2px 10px; background-image: url(../../../skin/_pub/a_img/nv_02.png); background-position: -45px -95px; }
.sd-hinfo li.act { font-weight: bold; }
.sd-hinfo li:hover a { color:#F00; }

/* uimark */

.uimark-pos-rel { position: relative; }
.uimark-pos-abs { position: absolute; }
.uimark-star-icon1a, .uimark-star-icon2a, .uimark-star-icon3a, .uimark-star-icon4a, .uimark-star-icon5a,
.uimark-star-icon1b, .uimark-star-icon2b, .uimark-star-icon3b, .uimark-star-icon4b, .uimark-star-icon5b {
    display:inline-block;
    background-image: url(../../../skin/_pub/a_img/star-icon.gif);
    width: 17px; height: 16px; top: 1px; right: 1px;
    background-position: 0px 00px;    
}
.uimark-star-icon1b, .uimark-star-icon2b, .uimark-star-icon3b, .uimark-star-icon4b, .uimark-star-icon5b {
    position: absolute;     
}
.uimark-star-icon2a, .uimark-star-icon2b { width: 34px; }
.uimark-star-icon3a, .uimark-star-icon2b { width: 51px; }
.uimark-star-icon4a, .uimark-star-icon2b { width: 68px; }
.uimark-star-icon5a, .uimark-star-icon2b { width: 85px; }

.uimark-star-zhuan1, .uimark-star-zhuan2, .uimark-star-zhuan3, .uimark-star-zhuan4, .uimark-star-zhuan5 {
    position: absolute; display:inline-block;
    background-image: url(../../../skin/_pub/a_img/star-zhuan.gif);
    width: 16px; height: 16px; top: 1px; right: 1px;
    background-position: 0px 00px;    
}
.uimark-star-zhuan2 { width: 32px; }
.uimark-star-zhuan3 { width: 48px; }
.uimark-star-zhuan4 { width: 64px; }
.uimark-star-zhuan5 { width: 80px; }

.qrcode_tip, .qrcode_pic { display:inline-block; font-style:normal; font-weight:normal; }
.qrcode_tip { position:relative; cursor:pointer; padding:2px 5px; margin:0px 10px 0px 0px; border-radius:5px; border:1px solid #99F;  }
.qrcode_pic {
    position: absolute; background:#FFF; 
    top: 23px; left: 0px; text-align:center;
    padding:5px; border:1px solid #CCC;
    z-index: 1024;
}

/* layTree */

.layTree1{ min-height:480px; }
.layTree1 p{ border:1px dashed #FFF; border-bottom:1px dashed #DDD; }
.layTree1 p:hover{ background-color:#FFC; border:1px dashed #DDD; }
.layTree1 p a.act, .layTree1 p a:hover{ color:#F00; }
.layTree1 p i{ font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; font-style:normal; color:#03F; display:inline-block; padding:0px 5px; }
.layTree1 p i.add, .layTree1 p i.sub{ cursor:pointer; line-height:120%; padding:0px 2px; border:1px solid #DDD; margin:0px 2px; }
.layTree1 p.none{ display:none; }
.layTree1 p.block{ display:block; }

.layTree7{ background-color:#333; color:#FFF; }
.layTree7 p:hover{ background-color:#300; }
.layTree7 p a{ color:#DDD; }
.layTree7 p a.act, .layTree7 p a:hover{ color:#F00; }
.layTree7 p i{ font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; font-style:normal; color:#DDD; display:inline-block; padding:0px 5px; }
.layTree7 p i.add, .layTree7 p i.sub{ cursor:pointer; line-height:120%; padding:0px 2px; border:1px solid #888; margin:0px 2px; }
.layTree7 p.none{ display:none; }
.layTree7 p.block{ display:block; }

.pro-detail .detab td { text-align:center; color:#039; cursor:pointer; padding:5px 0px; border:1px solid #CCC; }
.pro-detail .detail td { padding:10px; }
.pro-detail td.act { color:#F00; }
.pro-detail .rel_docs p { padding:2px 10px; }
.pro-detail .rel_docs td { padding:10px 10px; }
div.bdsharebuttonbox {  }
.pro-resume td { border:1px solid #CCC; }
#pro-bsharebar { padding-left:40px; }
.pro-picBig { padding:10px; }
.pro-items {  padding:10px 1px 10px 1px; }
#picMini { text-align:center; padding:10px 1px 10px 1px; }
#picMini img{ margin:1px 5px 1px 5px; border:1px solid #CCC; }
.pro-paras{ padding:10px 0px; }
.pro-paras p{ padding:2px 0px; border-bottom:1px dashed #EEE; margin-bottom:5px; }
.pro-paras p:hover{ background-color:#FFC; }
.pro-paras .itm-text{ padding:0px 5px; }

.pro-paras b, .pro-paras i { font-style:normal; font-weight:normal; display:inline-block; line-height:180%; }
.pro-paras b { text-align:left; }
.pro-paras i { width:100px; color:#666; text-align:right; padding:0px 5px 0px 1px; }
.pro-paras span { padding:0px 5px 0px 5px; }

.mpic_out i, .mpic_out b { font-style:normal; font-weight:normal; }
.mpic_out .pview { width:285px; height:215px; float:left; text-align:center; position: relative; padding:10px 0px 10px 0px; margin:1px 1px 10px 10px; border:1px solid #CCC; }
.mpic_out div { width:100%; }

.mpic_out .cntout, .mpic_out .seltype { display:inline-block; padding:1px 10px; }
.mpic_out .cntout { }
.mpic_out .seltype { width:120px; float:right; }

.resume-title { margin:auto; text-align:center; }
.resume-list { width:640px; max-width:640px; margin:auto; }
.resume-list dt { margin-bottom:5px; }
.resume-list dt a { font-size:large; }
.resume-list dt i, .resume-list dt b { font-style: normal; display: inline-block; padding: 0px 3px 0px 3px; }
.resume-list dt i.atype { color:#666; white-space:nowrap; }
.resume-list dt i.atime { color:#666; }
.resume-list dt { width: 100%; font-weight:normal; } 
.resume-list dd { width: 100%; font-size:small; color:#666; border-bottom:1px dashed #CCC; padding: 0px 10px 10px 3px; margin:5px 0px 10px 5px; }
.resume-list dd i, .resume-list dd b { font-style: normal; display: inline-block; padding: 0px 3px 0px 3px; }
.resume-list dd i.click { width: 18%; text-align:left; white-space:nowrap; }
.resume-list dd i.price { width: 18%; text-align:left; white-space:nowrap; }

@media only screen and (max-width:767px) {
    .resume-list { width:100%; }
    .resume-title { font-size:large; padding:20px 0; }
}

.mod-tbar { background:#EEE; padding:5px 10px; margin: 0px 18px 10px 0px; border:1px solid #CCC; }
.mod-tbar i { font-style: normal; }
.mod-tbar i.title { font-weight:bold; }
.mod-tbar a.act { color:#F00; }
.mod-tbar i a { display: inline-block; padding: 0px 5px; }

.mod-section { border: 1px solid #999; padding: 10px; margin: 0px 18px 10px 0px; }
.mod-section li{ margin: 5px 1px; }
.mod-section .type { font-weight: bold; font-style: normal; display: block; padding: 0px 0px 5px 0px; margin: 0px 0px 5px 0px; border-bottom: 1px solid #CCC; }
.mod-section .title { font-style: normal; display: block; padding: 3px 0px 3px 0px; }
.mod-section .bright { float:right; width:480px; }
.mod-section i.atime, .mod-section i.click { display: inline-block; padding: 0px 2px; }

.mod-section .iframe{ width:880px; margin:auto; }

.keres-vdo { width:640px; margin:10px auto; }
.keres-down { width:640px; text-align:center; padding:10px; margin:10px auto; border:1px dashed #CCC; }

.pg_bar{ margin:auto; text-align:center; }
.pg_bar .pagination li a{ margin:0 5px; }
.pg_bar .pagination li input{ width:60px; }

.mod-uplog h2{ font-size:16px; border-top:2px solid #CCC; padding:10px 0; margin:10px; border-bottom:1px dotted; }
.mod-uplog h2:first-of-type{ border-top:0px; }
