{imp:"c_page/lay_comm"}<!--继承父模板-->

{block:pmeta}{php $this->pmeta('移动版 - '.$_cbase['sys_name']); }{/block:pmeta}

{block:pimp}{php}
eimp('/jquery/jq_imgChange.js','vendui');
eimp('/~tpl/home.css');
{/php}{/block:pimp}

{block:head}
<?php 
$msg = "手机版请用手机打开，或用Chrome,Firefox,IE10+调试！";
glbHtml::ieLow_html(10,'LowIE',$msg);
?>
<div class="divOuter hdhome">
    <img class="logo right" src="{=PATH_VIEWS}/base/assets/logo/imcat-40x.png" width="40" height="40">
    <h1>{=$_cbase['sys_name']}</h1>
</div>
<div class="divOuter clearfix">
{/block:head}

{block:main}
    <ul id="adpic02" class="home-adpic02" style="overflow:hidden">
        {tag:dlist1=[List][modid,cargo][hinfo,pindao+home+zhuanti,in][show,1][limit,6]}
        <li>
        <a href="{surl("cargo.$t_did")}"><img src="{spic($t_mpic,demo_nop300x200.jpg)}" width="100%" height="320" /></a>
        <p><a href="{surl("cargo.$t_did")}">{title($t_title,96,$v)}</a></p>
        </li>
        {/tag:dlist1}
    </ul> 
    <div class="clear"><div>
  
  <div>
    <p class="home-title"><a href="{surl(news)}" class="icobox right"><i class="fa fa-folder-open"></i></a>
    <strong>新闻动态</strong></p>
    <ul>
        {tag:dlist2=[List][modid,news][show,1][limit,6]}
        <li>
        <p><a href="{surl("news.$t_did")}">{title($t_title,96,$v)}</a></p>
        </li>
        {/tag:dlist2}
    </ul>
  </div>

  <div>
    <p class="home-title"><a href="{surl(keres)}" class="icobox right"><i class="fa fa-folder-open"></i></a>
    <strong>课程资源</strong></p>
    <ul>
        {tag:dlist3=[List][modid,keres][show,1][limit,6]}
        <li>
        <p><a href="{surl("keres.$t_did")}">{title($t_title,96,$v)}</a></p>
        </li>
        {/tag:dlist3}
    </ul>
  </div>

  <div>
    <p class="home-title"></a>
    <strong>工具导航</strong></p>
    <ul>
      <li><p>
      <a href="{surl(cargo)}">商品展销</a> 
      <a href="{surl(news)}" target="_blank">新闻动态</a> 
      <a href="{surl(keres)}">课程资源</a>
      </p></li>
      <li><p>
       <a href="#">网站留言</a> 
      <a href="#">关于我们</a>
      </p></li>
      <li><p><input name="" type="text"><input name="" type="button" value="订单查询"></p></li>
    </ul>
  </div>

<script type="text/javascript">
$(function(){
    var imgw = $('#adpic02 img').width(); 
    $('#adpic02 img').height(imgw*0.75);
    var lih = $('#adpic02 li').height(); 
    $('#adpic02').height(lih);
    $('#adpic02 li').imgChange({effect:'slide',changeTime:3100});
    //切换效果,效果有fade, scroll(滚动), wfScroll(无缝滚动steps:2, changeTime:50)，wb(微博), 
    // stream,turnDown,zoom,flyFade,tab,flipper,slide,cutIn,alternately 
});
</script>

{/block:main}
