
<form action="{surl(0)}" method="get">
    
<select name="mkv" class="form-control">
  <option value="news--list">新闻</option>
  <option value="cargo--list">产品</option>
  <option value="keres--list">资源</option>
  <option value="topic--list">专题</option>
  <option value="faqs--list">问答</option>
  <option value="company--list">企业</option>
  <option value="organize--list">组织</option>
  <option value="govern--list">机构</option>
</select>

<input type="text" name="keywd" class="form-control" placeholder="Search">
<input type="submit" value="Search" class="form-control">

</form>
