{imp:"c_pub/layout"}<!--继承父模板-->

{block:main}

<style type="text/css">
  .w480{ width:480px; margin:20px 0px; }
  .clear{ clear:both; line-height:1px; }
</style>

<div class="pgf_w">
    <h3>homepage！</h3>

    <div class="w480 right">
        <ul>
            <li>cargo(产品:List标签)</li>
            {tag:dlist3=[List][modid,cargo][limit,3]}
            <li>
            <a href="{surl("news.$t_did")}">{=$t_title}</a>
            </li>
            {/tag:dlist3}
        </ul>
    </div>

    <div class="w480">
        <ul>
            <li>news(新闻:Free标签)</li>
            {tag:dlist1=[Free][modid,docs_news][order,did][limit,3]}
            <li>
            <a href="{surl("news.$t_did")}">{=$t_title}</a>
            </li>
            {/tag:dlist1}
        </ul>
    </div>

    <div class="clear">&nbsp;</div>

    <div class="w480 right">
        <ul>
            <li>lease(出租:Free标签)</li>
            {if extHaoft::opend()}
            {tag:dlist4=[Free][dbkey,imhaoft][modid,lease][order,LEASE_ID][limit,3]}
            <li>
            <a href="{surl("news.$t_LEASE_ID")}">{=$t_LEASE_SUBJECT}</a>
            </li>
            {/tag:dlist4}
            {/if}
        </ul>
    </div>
    <div class="w480">
        <ul>
            <li>sale(出售:Free标签)</li>
            {if extHaoft::opend()}
            {tag:dlist5=[Free][dbkey,imhaoft][modid,sale][order,SALE_ID][limit,3]}
            <li>
            <a href="{surl("news.$t_SALE_ID")}">{=$t_SALE_SUBJECT}</a>
            </li>
            {/tag:dlist5}
            {/if}
        </ul>
    </div>

    <div class="clear">&nbsp;</div>
    
    <?php
    $whrstr = "m.pid='0'"; // [where,$whrstr] 
    ?>
    <div class="w480">
        <ul>
            <li>area(区域:Free标签)</li>
            {tag:dlist2=[Free][modid,types_china][pgbar,1][where,$whrstr][order,top,0,0][limit,3]}
            <li>
            <a href="#{=$t_kid}">{=$t_kid}:{=$t_title}</a>
            </li>
            {/tag:dlist2}
        </ul>
    </div>
    {= comPager::fixUrl('home')}
</div>

{/block:main}

