
<!DOCTYPE html>
<html>
<head>
{inc:"incs/weys~imp"}
<title><?=$title='微样式介绍'?> - Weys.微样式库</title>
<style type="text/css">
.md table, .md tbody{ width:100%; margin:auto; }
.md thead{ display:none; }
.md td{ text-align:center; padding:0.5rem; }
.md pre{ overflow:hidden; word-break:break-all; }
</style>
</head>
<body>

{inc:"incs/weys~head"}

<article class="md col1">
    <h1 class="title">Weys - 微样式库</h1>
    <p class="info">贴心猫子项目 / Peace / 2021年02月</p>
    {md:"weys/inc/about"}
</article>

{inc:"incs/weys~foot"}

</body>
</html>
