
<!DOCTYPE html>
<html>
<head>
{inc:"incs/weys~imp"}
<title><?=$title='珊格详情'?> - Weys.微样式库</title>
<style type="text/css">
.grc2, .grc3, .grc4{ border:1px solid #CCC; }
</style>
</head>
<body>

{inc:"incs/weys~head"}

<article class="">

<h1 class="title">Weys - 珊格系统</h1>

<div class="grid">
    <div class="grc2">x2</div>
    <div class="grc2">x2</div>
    <div class="grc2">x2</div>
    <div class="grc2">x2</div>
    <div class="grc2">x2</div>
    <div class="grc2">x2</div>
    <div class="grc2">x2</div>
    <div class="grc2">x2</div>
    <div class="grc2">x2</div>
    <div class="grc2">x2</div>
    <div class="grc2">x2</div>
    <div class="grc2">x2</div>
</div>
<hr>
<div class="grid">
    <div class="grc3">x3</div>
    <div class="grc3">x3</div>
    <div class="grc3">x3</div>
    <div class="grc3">x3</div>
    <div class="grc3">x3</div>
    <div class="grc3">x3</div>
    <div class="grc3">x3</div>
    <div class="grc3">x3</div>
    <div class="grc3">x3</div>
    <div class="grc3">x3</div>
    <div class="grc3">x3</div>
    <div class="grc3">x3</div>
</div>
<hr>
<div class="grid">
    <div class="grc4">x4</div>
    <div class="grc4">x4</div>
    <div class="grc4">x4</div>
    <div class="grc4">x4</div>
    <div class="grc4">x4</div>
    <div class="grc4">x4</div>
    <div class="grc4">x4</div>
    <div class="grc4">x4</div>
    <div class="grc4">x4</div>
    <div class="grc4">x4</div>
    <div class="grc4">x4</div>
    <div class="grc4">x4</div>
</div>
</article>

<article class="md col1">
    <h1 class="title">Weys - 详情样例</h1>
    <p class="info">2021年02月 / Peace</p>
    {md:"weys/inc/detail"}
</article>


{inc:"incs/weys~foot"}

</body>
</html>
