
<!DOCTYPE html>
<html>
<head>
{inc:"incs/weys~imp"}
<title><?=$title='表单按钮'?> - Weys.微样式库</title>
<style type="text/css">

</style>
</head>
<body>

{inc:"incs/weys~head"}
<article class="">


<input value="#" class="">
<select class=""><option>选项</option></select>
<input type="button" name="" value="Input按钮" class="btn-act">
<div class="btn">div-btn</div>
<div class="btn btn-act">btn-act</div>

<hr>

<form class="list1">
    <div class="row">
        <div class="col1 mr24"><input value="#" class="col1"></div>
        <div class="col2 mr24"><input value="#" class="col1"></div>
        <div class="col3 mr24"><input value="#" class="col1"></div>
    </div>
</form>

<div class="cont" id='cont_idpwd'>
    <form class="list1">
      <div class="row">
        <div class="col1 tc">账号</div>
        <div class="col5">
          <input type="text" class="" id="userCode" placeholder="账号">
        </div>
      </div>
      <div class="row">
        <div class="col1 tc">密码</div>
        <div class="col5">
          <input type="password" class="" id="userPass" placeholder="密码">
        </div>
      </div>
      <div class="row">
        <div class="col1 tc">验证码</div>
        <div class="col2 vcode">
          <input type="text" class="" id="vcodeid1" placeholder="验证码">
        </div>
        <div class="col3 vcode">
          <img src="<?=tpath(1)?>/aimg/loadbig.gif">
        </div>
      </div>
      <div class="row">
        <div class="col2"></div>
        <div class="col2">
          <button type="submit" class="btn btn-act">登录</button>
        </div>
        <div class="col2"></div>
      </div>
    </form>
</div>

<hr>

<div class="flex">
    <div class="col1">11</div>
    <div class="col2">12</div>
    <div class="col3">13</div>
    <div class="col4">14</div>
    <div class="col5">
        <div style="">15-a</div>
        <div style="">15-b</div>
    </div><!--/flex: flex-grow flex-shrink flex-basis|auto|initial|inherit;/-->
</div>

<hr>

<div class="btn-group">
    <div class="col1">短信</div>
    <div class="col1">微信</div>
    <div class="col2">企业微信</div>
    <div class="col1 btn-act">账号</div>
    <div class="col1 disabled">扩展</div>
</div>


</article>
{inc:"incs/weys~foot"}

</body>
</html>
