
<!DOCTYPE html>
<html>
<head>
{inc:"incs/weys~imp"}
<title><?=$title='列表翻页'?> - Weys.微样式库</title>
<style type="text/css">

</style>
</head>
<body>

{inc:"incs/weys~head"}
<article class="">


<div class="list2">
    <div class="shead">
        <span class="r">更多</span>
        <div class="">[XX]列表</div>
    </div>
    <div class="row">
        <div class="col1 img"><img src="<?=tpath(1)?>/logo/gezi1-40x.jpg"></div>
        <div class="col5 main">
            <p><a href="#">Test1 标题标题标题标题标题</a></p> 
            <p class="note">说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明</p>
        </div>
        <div class="col1 more">
            <span class="time">18:35</span> 
            <span class="tag">标签</span>
        </div>
    </div>
    <div class="row">
        <div class="col6 main">
            <p><a href="#">Test2 标题标题标题标题标题</a></p>
            <p class="note">说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明</p>
        </div>
        <div class="col1 more">
            <span class="time">18:35</span> 
            <span class="tag">标签2</span>
        </div>
    </div>
    <div class="row">
        <div class="col1 img"><a href="#" class="fa fa-bank"></a></div>
        <div class="col5 main">
            <p><a href="#">Test3 标题标题标题标题标题</a></p>
            <p class="note">说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明</p>
        </div>
        <div class="col1 more">
            <span class="time">18:35</span> 
            <span class="tag">标签</span>
        </div>
    </div>
</div>

<div class='pg_bar'>
  <ul class='pagination'>
    <li class='pg_pagno'><a class='disabled'>1/122</a></li>
    <li class='pg_first'><a class='disabled'><span class="fa fa-fast-backward"></span></a></li>
    <li class='pg_prev'><a class='disabled'><span class="">&laquo;</span></a></li>
    <li class='pg_pjump'>
      <input type='text' id='pg_pjump' pjurl='?prec=610&page=0&ptype=0' pjmax='122' value='1' class='form-control' onchange='goPjump(this)'/>
    </li>
    <li class='pg_next'><a href='?prec=610&page=2' ><span class="">&raquo;</span></a></li>
    <li class='pg_last'><a href='?prec=610&page=122' ><span class="fa fa-fast-forward"></span></a></li>
    <li class='pg_total'><a class='disabled'>610</a></li>
  </ul>
</div>


<div class="list1">
    <div class="row shead">
        <div class="col5">标题</div>
        <div class="col2">栏目[XX]</div>
        <div class="col2">日期</div>
    </div>

    <div class="row">
        <div class="col5"><a href="#">Test内容模式-文本</a></div>
        <div class="col2"><span style='color:#099'>演示测试</span></div>
        <div class="col2">2020-09-22 08:25</div>
    </div>
    <div class="row">
        <div class="col5"><a href="#">Test内容模式-Markdown</a></div>
        <div class="col2"><span style='color:#099'>演示测试</span></div>
        <div class="col2">2020-09-22 08:23</div>
    </div>
    <div class="row">
        <div class="col5"><a href="#">Test内容模式-Download</a></div>
        <div class="col2"><span style='color:#099'>演示测试</span></div>
        <div class="col2">2020-09-22 08:20</div>
    </div>
    <div class="row">
        <div class="col5"><a href="#">Test内容模式-视频</a></div>
        <div class="col2"><span style='color:#099'>演示测试</span></div>
        <div class="col2">2020-09-22 08:05</div>
    </div>

    <div class="row">
        <div class="col5">Test2 标题标题标题标题标题</div>
        <div class="col2">企业新闻</div>
        <div class="col2">07-15 18:35</div>
    </div>
    <div class="row">
        <div class="col5">Test3 标题标题标题标题标题</div>
        <div class="col2">国际新闻</div>
        <div class="col2">2020-04-23</div>
    </div>
</div>

<div class='pg_bar'>
  <ul class='pagination'>
    <li class='pg_pagno'><a class='disabled'>123/456</a></li>
    <li class='pg_first'><a class='disabled'><span class="fa fa-fast-backward"></span></a></li>
    <li class='pg_prev'><a class='disabled'><span class="">&laquo;</span></a></li>
    <li class='pg_pjump'>
      <input type='text' id='pg_pjump' pjurl='#' pjmax='31' value='1' maxlength='9' class='form-control' onchange="goPjump(this);"/>
    </li>
    <li class='pg_next'><a href='#' ><span class="">&raquo;</span></a></li>
    <li class='pg_last'><a href='#' ><span class="fa fa-fast-forward"></span></a></li>
    <li class='pg_total'><a class='disabled'>7890</a></li>
  </ul>
</div>


</article>
{inc:"incs/weys~foot"}

</body>
</html>
