
<!DOCTYPE html>
<html>
<head>
{inc:"incs/weys~imp"}
<title>微样式库 | Weys - for Jumbotron</title>
<style type="text/css">

</style>
</head>
<body>

{inc:"weys/inc/mpop2"}
{inc:"incs/wepc~head"}
<div class='tmenu'>
    {inc:"weys/inc/0menu"}
</div>

<div class="wsec">
    <div class="wsub1 c41" style="background:var(--cD);">
        Subs：侧边内容：<br>{inc:"weys/inc/texts"}
    </div>
    <div class="wmain c43">
        Main：主要内容：<br>{inc:"weys/inc/texts"}
        
    </div>
</div>

<hr>
<div class="wsec2">
    {inc:"weys/3_grid"}
</div>
<hr>

<div class="wsec">
    <div class="wmain c43">
        Main：主要内容：<br>{inc:"weys/inc/texts"}

    </div>

    <div class="wsub2 c41" style="background:var(--cD);">
        Subs：侧边内容：<br>{inc:"weys/inc/texts"}
        <div class="pa10" style="background:var(--cF)">
            3_dialog
        </div>

    </div>

</div>

{inc:"incs/wepc~foot"}

</body>
</html>
