

<div class="panel panel-default">
  <div class="panel-body">
    <form method="get" action="{surl(0)}">
    <input name="mkv" type="hidden" value="{=$this->mod}--list">
    <select name="stype" class="form-control">{= basElm::setOption($this->mod,$this->key,'-请选择-'); }</select>
    <div class="pt10">
        <input name="keywd" type="text" id="keywd" class="form-control wp60 inblock" />
        <input type="submit" id="sobtn" value="搜索" class="form-control wp30 inblock" />
    </div>
    </form>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">Catalog/类别</div>
  <div class="panel-body side">
    {tag:tp=[Type,u][modid,$this->mod][idfix,top]}
    <li class="type"><a href="{surl($this->mod."-$t_kid")}" {if $t_kid==$this->key}class='act'{/if}>{title($t_title,32,$u)}</a></li>
    {/tag:tp}
  </div>
</div>

<div class="sd-adv60"> 
    <span id='jsid_advs_adpic_250x60a'><!--adpic:a2018--></span>
</div>
<div class="h10">&nbsp;</div>

<div class="panel panel-default hidden-xs">
  <div class="panel-body side">
    {tag:hinfs=[List][modid,$this->mod][hinfo,pindao][limit,5]}
    <li class="type"><a href="{surl($this->mod.".$t_did")}">{title($t_title,20,$v)}</a></li>
    {/tag:hinfs}
  </div>
</div>
