<?php
$_groups = glbConfig::read('groups');
$db = db();
$minfo = read($this->mod);
$pid = req('pid');
$pmod = $minfo['pmod']; $pmtitle = $_groups[$pmod]['title'];
$pinfo = $db->table(glbDBExt::getTable($pmod))->where("did='$pid'")->find();
$ptitle = $pinfo['title'];
?>
<!DOCTYPE html><html><head>
{php $this->pmeta(); }
{php}
eimp('initJs','jquery;bootstrap;comm');
eimp('initCss','bootstrap,stpub;comm');
eimp('/layer/layer.js','vendui');
{/php} 

</head><body>
{inc:"c_pub/ahead"}
{inc:"c_pub/amenu"}

<div class="row">
  <div class="col-md-9">
    <!--cont-start-->
    <h1 class="news_title">
        {if $pid }
        <a href="{surl("$pmod.$pid")}">{title($ptitle,96,$pinfo)}</a>
        {else}
        {=$pmtitle}
        {/if}
        的(<a href="{surl(0)}?{=$this->mod}&pid={=$pid}">评论</a>) 
    </h1>
    <div class="news_rem">
      <div class="rembar"> 
      <span class="remadd"><a href="{surl(0)}?{=$this->mod}&pid={=$pid}">评论(<i id="jsid_count_{=$this->mod}:{=$pid}">0<!--,cnt_{=$this->mod},--></i>条)</a> &nbsp; <a {php vopCell::vOpen($this->mod,$pid); }>&gt;&gt;发布</a></span> 
      <span class="remtitle">评论列表</span> 
      </div><!--[cache,60]-->
      {tag:nrlist=[Page][modid,$this->mod][pid,$pid][keywd,0,title+detail][limit,50]}
      {:row}
      <dl>
        <dt>{title($t_title,48,$v)} </dt>
        <dd>
        {text($t_detail,2400)}
        <p class="tr"><span>{=$t_mname}</span> &nbsp; 发布于:<i class="atime">{stime($t_atime,min)} </i></p>
        </dd>
      </dl>
      {/row}
      <div class="clear"></div>
      {php echo $_cbase['page']['bar']; }
      {/tag:nrlist}
    </div>
    <div class="clear"></div>
    <!--cont-end-->
  </div>
  <div class="col-md-3">
    <!--rem_side_start-->
    <div class="h10">&nbsp;</div>
    <div class="sd-so01">
    <form method="get" action="{surl(0:0)}">
    <input name="mkv" type="hidden" value="{=$this->mod}">
    <input name="pid" type="hidden" value="{=$pid}">
    <input name="keywd" type="text" id="keywd" class="w150" />
    <input type="submit" id="sobtn" value="搜索" />
    </form>
    </div>
    <div class="sd-adv60"> 
        <span id='jsid_advs_adpic_250x60a'><!--adpic:a2018--></span>
    </div>
    <div class="h10">&nbsp;</div>
    <ul class="sd-hinfo">
    {tag:hinfs=[List][modid,$pmod][limit,10]}
    <li class="list"><a href="{surl($this->mod.".$t_did")}">{title($t_title,20,$v)}</a></li>
    {/tag:hinfs}
    </ul>
    <div class="sd-adv60"> 
        <span id='jsid_advs_adpic_250x60b'><!--adpic:a2020--></span>
    </div>
    <!--rem_side_end-->
  </div>
</div>

{inc:"c_pub/afoot"}
</body></html>
