
<div class="row">
{tag:tp=[Type,u][modid,$this->mod][idfix,top]}
<?php if($i_u%2==0){ echo "<dd class='clear'></dd>"; } ?>
<div class="col-md-6">
  <ul class="mod-home">
    <li class="type">
    <a href="{surl($this->mod."-$t_kid")}">{=$t_kid}:{title($t_title,32,$u)}</a> 
    </li>
    {tag:dl=[List][modid,$this->mod][stype,$t_kid][limit,5]}
    <li>
    <i class="title">
    <a href="{surl($this->mod.".$t_did")}" title="{stime($t_atime,0)}">{title($t_title,36,$v)}</a>
    {if !empty($t_hinfo)}<b class="uimark-star-icon1a">&nbsp;</b>{/if}
    </i>
    </li>
    {/tag:dl}
  </ul>
</div>
{/tag:tp}
</div>
