<!DOCTYPE html><html><head>
{php $this->pmeta(); }
{php}
eimp('initJs','jquery;bootstrap;comm');
eimp('initCss','bootstrap,stpub;comm');
eimp('/layer/layer.js','vendui');
{/php} 

</head><body> 
{inc:"c_pub/ahead"}
{inc:"c_pub/amenu"}

<div class="row">
  <div class="col-md-9">

    <ol class="breadcrumb">
      <li><a href="{surl(0)}">贴心猫(Imcat)</a></li>
      <li><a href="{surl(news)}">贴心代码</a></li>
      <li class="active">详情</li>
    </ol>

      <h1 class="news_title">{title($title,96,$this->vars)}</h1>
      <div class="news_bar"> 发布:<i class="atime">{stime($atime,min)}</i> &nbsp; 
        点击<i id="jsid_field_{=$this->mod}:{=$did}:click">{=$click}<!--,add1--></i>次 &nbsp; 
        评论:<i id="cnt_kerem">0</i>条 </div>

    {inc:"base:stpl/_news-detail"} 

  </div>
  <div class="col-md-3">
    {inc:"news/b-side"}
  </div>
</div>

{inc:"c_pub/afoot"}
</body></html>
