
body{ background:#FFF; border:0px; padding:0px; margin:0px; }
body, td, input, textarea, select, button{ color:#333; line-height:150%; font:12px "Lucida Grande", Verdana, Lucida, Helvetica, Arial, 'Simsun', sans-serif; }
ul, li, dl, dd, p, h1, h2, h3, h4, h5, h6, hr, form, fieldset { line-height:150%; margin:0; padding:0; }
li{ list-style:none; }

body,td,th {
    font-size: 12px; color:#333;
}

fieldset.temp{
    padding:5px; 
    border:1px solid #6CF;
}

table.file_bar { width:100%; margin:1px auto 3px auto;  }
table.file_bar td { background:#3A6EA5; border:1px solid #CCC; text-align:center; padding:3px 1px; }
table.file_bar a { color:#FFF; }
table.file_bar td.act { background:#D4D0C8; }
table.file_bar td.act a { color:#F00; }
table.file_bar td:hover { border-color:#999; xbackground:#FFF; }
table.file_bar td:hover a{ color:#F00; }


table.Sym_Content {
    background-color:#888888;
    width:100%;
}
table.Sym_Content td {
    background-color:#ffffff;
    width:24px;
    height:24px;
    text-align:center;
    vertical-align:middle;
    cursor:hand;
    cursor:pointer;
    padding:1px;
    margin:0px;
}
.Sym_Tabs {
    cursor:hand;
    cursor:pointer;
    background-color:#3A6EA5;
    text-align:center;
}
.Sym_Tab1 {
    background-color:#3A6EA5;
    color:#FFFFFF;
}
.Sym_Tab2 {
    background-color:#FFFFFF;
    color:#3A6EA5;
}
#SymTop {
    margin:3px;
    border:1px solid #033;
}