{imp:"tester/tester-layout"}<!--继承父模板-->

{block:extop}<?php
$title = '模板继承';
$_cbase['show']['apsize'] = 2; // 分页测试
$act = req('act');
//------------------
$pid = req('pid'); 
$order = req('order','kid');
$order = in_array($order,array('kid','title','pid')) ? $order : 'kid';
$where = (empty($pid) ? "deep=2" : "pid='$pid'"); 
$burl = surl(0).'?'.$this->mod.'-'.$this->key;
?>{/block:extop}

{block:exmain}

<h3>用模板继承 - head,body不在当前模板页,到父模板页去了:示例</h3>

<table border=1>
{tag:demo2=[Page][modid,china][pid,$pid][where,$where][order,$order][limit,10]}
{:row}
<tr><td>{=$t_kid}</td><td>{=$t_pid}</td><td>{=$t_title}</td><td>{=$t_cfgs}</td></tr>
{/row}
</table>
{php echo $_cbase['page']['bar']; }
{/tag:demo2}

{/block:exmain}
