/* CSS Document */

.info-nav {
	width: 180px;
	height: 120px;
	overflow: hidden;
	float: left;
	xdisplay: inline-block;
	border: 1px solid #999;
	padding: 10px;
	margin: 0px 5px 10px 5px;
}
.info-nav .title {
	font-weight: bold;
	padding: 0px 0px 5px 0px;
}
p.type-title {
	font-size: 14px;
	color: #444;
	font-weight: bold;
	padding: 5px 0px 5px 20px;
}
p.type-item a {
	font-size: 14px;
	line-height: 180%;
	display: inline-block;
	margin: 0px 8px;
}

.info-nav { width: 218px; height: 210px; overflow: hidden; line-height: 100%; float: left; border: 1px solid #999; padding: 10px; margin: 0px 10px 10px 0px; }
.info-nav .type { font-weight: bold; font-style: normal; text-align: center; display: block; padding: 0px 0px 5px 0px; margin: 0px 0px 5px 0px; border-bottom: 1px solid #CCC; }

.info-tbar { width: 900px; background:#EEE; padding:5px 10px; margin:5px 0px 20px 0px; border:1px solid #CCC; }
.info-tbar i { font-style: normal; }
.info-tbar i.title { }
.info-tbar i a { display: inline-block; padding: 0px 5px; }

.info-indep { width: 447px; height: 190px; overflow-y:scroll; line-height: 100%; float: left; border: 1px solid #999; padding: 10px; margin: 0px 10px 10px 0px; }
.info-indep .type { font-weight: bold; font-style: normal; text-align: center; display: block; padding: 0px 0px 5px 0px; margin: 0px 0px 5px 0px; border-bottom: 1px solid #CCC; }
.info-indep .title { font-style: normal; display: block; padding: 3px 0px 3px 0px; }
.info-indep i.atime, .info-indep i.click { display: inline-block; padding: 0px 2px; }

.info-indep li { padding:3px; }
.info-indep li i { font-style:normal; color:#666; }
