
<div class="foot">
  <p class="fnav">
    <a href="{surl(about)}">关于</a>
    <a href="https://github.com/peacexie/imcat" target="_g">GitHub</a>

    <a id="idf_info" href="{surl(info);}">导航</a>

    <a href="{surl(info-indep)}">部门</a>
    <a href="{surl(info-gbook)}">反馈</a>

  </p>
  <p class="note">
  提示:`/home.php`入口数据仅为演示功能，不构成任何交易凭证,也不承担相关风险和责任！ 
  </p>
  <p class="copy">
  Copyright © 2011-2018 xxxxx.com All rights reserved. 
  </p>
  <p class="info">{php echo basDebug::runInfo(); }</p>
</div>


</div>

