
<div class="row">
    <div class="col-md-2 col-sm-3 col-xs-4 celp50"><a href="http://txjia.com/h5/pc.htm" target="_blank">Imcat•全端猫</a></div>
    <div class="col-md-2 col-sm-3 col-xs-4 celp50"><a href="http://txjia.com/imcat/hi.php/weys" target="_blank">Weys•微样式库</a></div>
    <div class="col-md-2 col-sm-3 col-xs-4 celp50"><a href="http://down.admin5.com/php/130751.html" target="_blank">贴心猫-A5源码</a></div>
    <div class="col-md-2 col-sm-3 col-xs-4 celp50"><a href="http://www.pswpower.com" target="_blank">pswpower</a></div>
    <div class="col-md-2 col-sm-3 col-xs-4 celp50"><a href="http://txjia.com/peace/txasp.htm" target="_blank">贴心Asp系统</a></div>
    <div class="col-md-2 col-sm-3 col-xs-4 celp50"><a href="http://txjia.com/peace/wenode.htm" target="_blank">Node.js微框架</a></div>

    {code:"dev:tools/a-cfgs"}
    <?php 
    $i = 0;
    foreach($cfgs as $k=>$v){ 
        $i++; if($i>10) break; 
    ?>
    <div class="col-md-2 col-sm-3 col-xs-4 celp50"><a href="{surl("dev:tools-$k")}">{=$v['mt']}</a></div>
    <?php 
    }
    if($i<10){ foreach($cfgs_ext as $k=>$v){ 
    ?>
    <div class="col-md-2 col-sm-3 col-xs-4 celp50"><a href="{=$v['url']}" target="_blank">{=$v['mt']}</a></div>
    <?php 
    } }
    ?>
</div>
