

<div class="panel panel-default">
  <div class="panel-heading">Catalog/类别</div>
  <div class="panel-body side">

    {tag:tp=[Type,u][modid,$this->mod][idfix,top]}
    <li class="type"><a href="{surl($this->mod."-$t_kid")}" {if $t_kid==$this->key}class='act'{/if}>{title($t_title,32,$u)}</a></li>
    {/tag:tp}

  </div>
</div>

<div class="sd-adv60"> 
    <span id='jsid_advs_adpic_250x60b'><!--adpic:a2020--></span>
</div>
<div class="h20">&nbsp;</div>

<div class="sd-adv60"> 
    <span id='jsid_advs_adpic_250x60a'><!--adpic:a2018--></span>
</div>

<div class="h10">&nbsp;</div>